
  <div class="PensionManagement">  
    <div class="container mw-100">
  
      <div class="row">

             
        <div class="col-lg-12 p-3 pt-0">
            <div class="row">
               
              <div class="col-lg-12" >  
                <!-- *ngIf="profileDetails?.length >1" -->             
                <div class="card py-2"> 
                  
                  <div class="card-header p-0 border-bottom-0 bg-transparent">

                    <div class="row"  >
                      <!-- <input type="text" (valueChanged)="onValueChanged(param)" ngModel="{{param}}"> -->

                      <!-- <input type="text" [(ngModel)]="param" (Change)="valuechange($event)" /> -->

                      <!-- *ngFor="let profile of profileDetails " -->
                      <div class="col-lg-12"   >
                        <h3 class="font-18 py-2 mb-0 w-100 fw-semibold">Select Profile: {{pssDetails?.employeeName}} </h3> 
                      </div>   
                    </div>

                  </div>
                </div>
              </div>    

            
              <div class="col-lg-6">    
                <div class="card pb-0">
                    <div class="card-header p-0 border-bottom-0 bg-transparent d-flex justify-content-between">
                        <h3 class="font-18">My Information</h3>                        
                    </div>
                    <div class="row border-radius overview mx-1">
                      <div class="col-lg-5 p-0 pt-3">
                        <div class="card-body p-0">
                          <div class="col-lg-10 dash-cursor" >
                            <!-- <h3 class="mb-0">ID :  {{ pensionerInfoResult[0]?.ppoNo ? pensionerInfoResult[0]?.ppoNo : 0}} </h3> -->
                           
                          </div>
                          <!-- <h3 class="font-18">Personal Pension FY 22-23</h3> -->

                          <!-- <div class="text-center">
                            <span style="background: #ee9f45; color: #fff; padding: 7px 10px; border-radius: 8px;"> Chart Will be Soon...</span>
                          </div>
                          <div class="text-center">                                                            
                                <img src="assets/images/pensionoverview_chart.png" class="imgresponsive w-100">
                          </div> -->
                         

                          <div class="row border-radius overview mx-1 p-3 py-3">
                            <div class="col-lg-12 p-0 pt-0">
                              <!-- <div class="card-body p-0">
                                <h3 class="font-16">Number of PPO, CPO, GPO generated</h3>
                              </div> -->
                              <div class="row my-2 mt-0">
                                <div class="col-lg-2">
                                  <img class="rounded-circle" src="assets/images/light_b.png">
                                </div>
                                <div class="col-lg-10 dash-cursor" >
                                  <h3 class="mb-0">PPO</h3>
                                  <p class="fs-7">Pension Payment Order {{pensionerInfoResult && pensionerInfoResult[0]?.ppoNo ? pensionerInfoResult[0]?.ppoNo : 0}} </p>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col-lg-2">
                                  <img class="rounded-circle" src="assets/images/light_p.png">
                                </div>
                                <div class="col-lg-10 dash-cursor" >
                                  <h3 class="mb-0">CPO</h3>
                                  <p class="fs-7">Commutation Payment Order {{payCalDetails?.cpoNo ? payCalDetails?.cpoNo : 0}} 
                                   
                                  </p>
                                </div>
                              </div>            
                              <div class="row mb-2">
                                <div class="col-lg-2">
                                  <img class="rounded-circle" src="assets/images/light_g.png">
                                </div>
                                <div class="col-lg-10 dash-cursor" >
                                  <h3 class="mb-0">GPO</h3>
                                  <p class="fs-7">Gratuity Payment Order {{payCalDetails?.gpoNo ? payCalDetails?.gpoNo : 0}}  </p>
                                </div>
                              </div>
                            </div>
            
                          
                          </div>


                        </div>
                      </div>

                      <div class="col-lg-7">
                        <div class="personal_pension my-3 p-3">
                          <h3 class="font-18">Personal Pension FY 22-23</h3>

                            <div class="mb-0">
                              <div class="card-body px-0">
                                <div class="progress"></div>
                              </div>

                              <div class="card-footer p-0 bg-transparent border-0 d-flex justify-content-between">
                                <div class="legend">
                                  <label class="fs-6">April 2022</label>
                                </div>
                                <!-- 15072023 -->
                                <!-- <div class="legend">
                                  <label class="fs-4 text-dark">30%</label>
                                </div> -->
                                <div class="legend">
                                  <label class="fs-6">March 2023</label>
                                </div>
                              </div>
 <!-- ------------------------------------------------------------------------------------------ -->

                              <div class="card-footer my-2 mt-3 p-0 border-0 row bg-white py-2" >
                                <div class="col-4 legend text-start">
                                  <label>PPO</label>
                                  <label class="legendvalue">₹ {{payCalDetails?.ppoAmount}}</label>
                                </div>
                                <div class="col-4 legend text-start">
                                  <label>CPO(Total)</label>
                                  <label class="legendvalue">₹ {{payCalDetails?.cpoAmount}}</label>
                                </div>
                                <div class="col-4 legend text-start">
                                  <label>CPO(Payable)</label>
                                  <label class="legendvalue">₹ {{payCalDetails?.cpoNetAmount}}</label>
                                </div>
                             
                                <div class="col-4 legend text-start mt-2">
                                  <label>GPO</label>
                                  <label class="legendvalue">₹ {{payCalDetails?.gpoAmount}}</label>
                                </div>
                              </div>
<!-- --------------------------------------------------------------------------------------- -->
                              <div class="card-footer my-2 mt-2 p-0 bg-transparent border-0 row">
                                <div class="col-4 legend text-start">
                                  <label>Installations</label>
                                  <label class="legendvalue"> {{payCalDetails?.cpoCount}}</label>
                                </div>
                                <div class="col-4 legend text-start">
                                  <label>Monthly</label>
                                  <label class="legendvalue">₹ {{payCalDetails?.ppoAmount}}</label>
                                </div>
                                <div class="col-4 legend text-start">
                                  <label>Yearly</label>
                                  <label class="legendvalue">₹ {{payCalDetails?.yearlySalWtCmut}}</label>
                                </div>
                              </div>
                            </div>
                          
                          
                        </div>
                      </div>
                    </div>
                    
                </div>

                <div class="card">
                  <div class="row">

                    <div class="col-lg-6">
                      <!-- <span > ON Working...</span> -->
                      <h3 class="font-18 ">Pension Pay Slip </h3> 
                      <form class="example-form">
                        <div class="row" >  
                                                
                          <div class="col-lg-4">
                            <mat-form-field class="w-100 mx-2" appearance="outline">
                              <input type="text" placeholder="Jan" aria-label="Number" matInput [matAutocomplete]="auto">
                              <mat-autocomplete #auto="matAutocomplete">
                                <mat-option>Jan</mat-option>
                                <mat-option>Fab</mat-option>
                              </mat-autocomplete>
                            </mat-form-field>

                          </div>
                          <div class="col-lg-4">
                            <mat-form-field class="w-100" appearance="outline">
                              <input type="text" placeholder="2022" aria-label="Number" matInput [matAutocomplete]="auto">
                              <mat-autocomplete #auto="matAutocomplete">
                                <mat-option>2022</mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-4 p-0 mt-1">
                            <button mat-stroked-button class="mx-2 mw-45px" (click)="comingSoonData()"><img src="assets/images/eye_icon.svg"></button>
                            <button mat-stroked-button class="mw-45px" (click)="comingSoonData()"><img src="assets/images/download.svg"></button>
                          </div>
                        
                        </div>
                      </form>
                    </div>

                    <div class="col-lg-6">
                      <!-- <span > ON Working......</span> -->
                      <h3 class="font-18 ">Pension Statement</h3> 
                      <form class="example-form">
                        <div class="row">  
                                                
                          <div class="col-lg-7">
                            <mat-form-field class="w-100 mx-2" appearance="outline">
                              <input type="text" placeholder="Quarterly" aria-label="" matInput [matAutocomplete]="auto">
                              <mat-autocomplete>
                                <mat-option>Monthly</mat-option>
                                <mat-option>Quarterly</mat-option>
                                <mat-option>Half Yearly</mat-option>
                                <mat-option>Annually</mat-option>
                                <!-- <mat-option>{{payCalDetails?.psnAmount}}</mat-option>
                                <mat-option>{{payCalDetails?.yearlySalWtCmut/4}}</mat-option>
                                <mat-option>{{payCalDetails?.yearlySalWtCmut/2}}</mat-option>
                                <mat-option>{{payCalDetails?.yearlySalWtCmut}}</mat-option> -->
                              </mat-autocomplete>
                            </mat-form-field>

                          </div>
                          
                          <div class="col-lg-5 p-0 mt-1">
                            <button mat-stroked-button class="mx-2 mw-45px" (click)="comingSoonData()"><img src="assets/images/eye_icon.svg"></button>
                            <button mat-stroked-button class="mw-45px" (click)="comingSoonData()"><img src="assets/images/download.svg"></button>
                          </div>
                        
                        </div>
                      </form>
                    </div>

                  </div>
                </div>


                <div class="card" style="width:100%; overflow-x:auto;">

                  <div class="row" style="width: 950px;">
                    <!-- <div class="col-4" *ngIf="!isLifeCerUpload ">
                      <div class="yellow_box">                      
                        <label>Request Life Certificate</label>
                        <div class="yellow_life_con p-2 pt-5 pb-3">
                             <a    upload class="mx-2 mw-45px custome_download_btn border bg-white p-1 px-3" *ngIf="!lifeCerDoc" (click)="fileInput.click()"><img src="assets\images\upload1.png" >  <input type="file" id="fileDropRef" class="inputd" multiple
                              (change)="uploadPdf($event)" accept=".pdf" hidden #fileInput/></a>
                             <button mat-stroked-button class="mx-2 mw-45px" (click)="previewDocId(1)" *ngIf="lifeCerDoc"><img src="assets/images/eye_icon.svg" *ngIf="lifeCerDoc"></button>
                             <button mat-stroked-button class="mx-2 mw-45px" (click)="removeLifeDocId()" *ngIf="lifeCerDoc"><img src="assets/images/delete_btn.svg" ></button>
                             
                         <button mat-stroked-button class="mx-2 life_con_btn" *ngIf="lifeCerDoc" (click)="submitLifeCertificate()" >Submitted</button>
                        </div>
                      </div>
                      
                    </div>
                    <div class="col-4" *ngIf="isLifeCerUpload">
                      <div class="yellow_box">
                      
                        <label>Life Certificate Status</label>
                        <div class="yellow_life_con p-1 pt-5 pb-2 row">
                          <div class="col-4 border rounded p-1 fs-7" style="line-height: 18px;">
                            Life Cert Id:
                            <span>{{lifeStatusData?.lifeCertId}}</span>
                          </div>
                          <div class="col-5 border rounded p-1 fs-7 mx-2" style="line-height: 18px;">
                            Request Status:
                            <span>{{lifeStatus}}</span>
                          </div>
                          <div class="col-2">
                            <button mat-stroked-button class="mw-45px" (click)="previewDocId(2)"><img src="assets/images/eye_icon.svg" ></button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    <div class="col-4" *ngIf="isLifeRevert">
                      <div class="green_box">
                      
                        <label>Upload Revert Life Certificate</label>
                        <div class="life_con p-2 pt-5 pb-3">
                             <a    upload class="mx-2 mw-45px custome_download_btn border bg-white p-1 px-3" *ngIf="!lifeCerDoc" (click)="fileInput.click()"><img src="assets\images\upload1.png" >  <input type="file" id="fileDropRef" class="inputd" multiple
                              (change)="uploadPdf($event)" accept=".pdf" hidden #fileInput/></a>
                             <button mat-stroked-button class="mx-2 mw-45px" (click)="previewDocId(1)" *ngIf="lifeCerDoc"><img src="assets/images/eye_icon.svg" *ngIf="lifeCerDoc"></button>
                             <button mat-stroked-button class="mx-2 mw-45px" (click)="removeLifeDocId()" *ngIf="lifeCerDoc"><img src="assets/images/delete_btn.svg" ></button>
                             
                         <button mat-stroked-button class="mx-2 life_con_btn" *ngIf="lifeCerDoc" (click)="submitRevertLifeCertificate()" >Submitted</button>
                        </div>
                      </div>
                      
                    </div> -->
                    <div class="col-4">
                      <div class="yellow_box">
                       
                        <label>Preview Approved Life Certificate</label>
                        <div class="yellow_life_con p-2 pt-5 pb-3">                        
                          <span style="color: rgb(166 166 166);">Preview Certificate</span>
                          <button mat-stroked-button class="mx-2 mw-45px" (click)="getDocId()"><img src="assets/images/eye_icon.svg"></button>                       
                        
                        </div>
                      </div>
                      
                    </div>
                   
                    <!-- <div class="col-4">                  
                      <div class="yellow_box">
                       
                        <label>Tax Declaration</label>                    
                        <div class="yellow_life_con p-2 pt-5 pb-3">
                          <button mat-stroked-button class="mx-2 life_con_btn" >Pending</button>
                          <button mat-stroked-button class="mx-2 mw-45px" (click)="comingSoonData()" ><img src="assets/images/eye_icon.svg"></button>
                          <button mat-stroked-button class="mw-45px" (click)="comingSoonData()"><img src="assets/images/download.svg"></button>
                        </div>
                      </div>
                      
                    </div> -->
                    <!-- <div class="col-4">
                      <div class="green_box">
                        <label>Form 16</label>
                        <div class="life_con p-2 pt-5 pb-3">
                          <button mat-stroked-button class="mx-2 life_con_btn">Generated</button>
                          <button mat-stroked-button class="mx-2 mw-45px" (click)="comingSoonData()"><img src="assets/images/eye_icon.svg"></button>
                          <button mat-stroked-button class="mw-45px" (click)="comingSoonData()"><img src="assets/images/download.svg"></button>
                        </div>
                      </div>
                    </div> -->
                  </div>  
                </div>

                <!-- <div class="card">
                  <div class="text-center">
                    <span style="background: #74acff; color: #fff; padding: 7px 10px; border-radius: 8px;"> Coming_Soon....Data Is Temporary.</span>
                  </div>
                  <div class="card-header p-0 border-bottom-0 bg-transparent d-flex justify-content-between">
                      <h3 class="font-18">Quick Link</h3>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 custom_select">

                     
                      <mat-form-field appearance="outline" class="w-100">
                        <select matNativeControl required>
                          <option value="volvo">Category</option>
                          <option value="saab">Category</option>
                        </select>
                      </mat-form-field>

                    </div>
                    
                    <div class="col-lg-6 custom_select">
                  
                      <mat-form-field appearance="outline" class="w-100">
                        <select matNativeControl required>
                          <option value="volvo">Sub Category</option>
                          <option value="saab">Sub Category</option>
                        </select>
                      </mat-form-field>

                    </div>
                  </div>
                  <div class="card-body min-height" style="height:260px;">
                    <div class="row w-100">  
                      <div class="col-lg-6">
                        <div class="auto_sec_outer">
                          <img class="pin_icon" src="assets/images/pin.png">
                          <div class="auto_sec">                              
                            <img class="mr-5" src="assets/images/Auto01.png">
                            <h5>Life Certificate<br> Manual</h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="auto_sec_outer">
                          <img class="pin_icon" src="assets/images/pin.png">
                          <div class="auto_sec">                              
                            <img class="mr-5" src="assets/images/Auto02.png">
                            <h5>PDC User<br> Manual</h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="auto_sec_outer">
                          <img class="pin_icon" src="assets/images/pin.png">
                          <div class="auto_sec">                              
                            <img class="mr-5" src="assets/images/Auto03.png">
                            <h5>Revision in  <br>Pension</h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="auto_sec_outer">
                          <img class="pin_icon" src="assets/images/pin.png">
                          <div class="auto_sec">                              
                            <img class="mr-5" src="assets/images/Auto04.png">
                            <h5>Family Pension<br> Forms</h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="auto_sec_outer">
                          <img class="pin_icon" src="assets/images/pin.png">
                          <div class="auto_sec">                              
                            <img class="mr-5" src="assets/images/Auto01.png">
                            <h5>Life Certificate<br> Manual</h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="auto_sec_outer">
                          <img class="pin_icon" src="assets/images/pin.png">
                          <div class="auto_sec">                              
                            <img class="mr-5" src="assets/images/Auto02.png">
                            <h5>PDC User<br> Manual</h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="auto_sec_outer">
                          <img class="pin_icon" src="assets/images/pin.png">
                          <div class="auto_sec">                              
                            <img class="mr-5" src="assets/images/Auto03.png">
                            <h5>Revision in  <br>Pension</h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="auto_sec_outer">
                          <img class="pin_icon" src="assets/images/pin.png">
                          <div class="auto_sec">                              
                            <img class="mr-5" src="assets/images/Auto04.png">
                            <h5>Family Pension<br> Forms</h5>
                          </div>
                        </div>
                      </div>

                  </div>    
                    
                  </div>
                </div> -->

              </div>

              <div class="col-lg-6">

                <div class="col-lg-12">
                  <div class="card">
                      <div class="card-header p-0 border-bottom-0 bg-transparent d-flex justify-content-between">
                          <h3 class="font-18">My Request</h3> <a href="">View all</a>
                      </div>                      

                      <div class="col-lg-12 mt-1">
                        <div class="card status mb-0 p-0">
                          <div class="card-header p-0 border-bottom-0 bg-transparent d-flex justify-content-between">
                            <h5 class="mb-0">Raise a New Request</h5>
                          </div>
                          <div class="card-body px-0">
                            <form class="example" action="#">
                              <mat-form-field appearance="outline" class="w-100">
                                <input matInput />
                                <mat-icon matPrefix>search</mat-icon>
                              </mat-form-field>
                            </form>
                            <button mat-flat-button color="primary" class="w-100">Raise a new request</button>

                            





                            <div id="carouselExampleIndicators" class="carousel slide mt-3" data-bs-ride="carousel"  data-bs-touch="true"> 
                              <div class="carousel-indicators" style="bottom:-35px !important;">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              </div>

                              <div class="carousel-inner"> 
                                <div class="carousel-item active" > 
                                  <div class="row Rais-new-requ">
                                   
                                    <!-- <div class="col" *ngIf="isShowComm">                                      
                                      <div class="card text-center"  (click)="redirecttocommutation()" >
                                       
                                         <div class="icon-area blue" >                                        
                                          <img src="assets/images/01.png"> <img src="assets/images/white1.png"> 
                                        </div> 
                                        <div class="title-area"> <a class="nav-link"   ><h6>Commutation Request</h6> </a>
                                          

                                        </div>
                                      </div> 
                                    </div>  -->
                                    <div class="col" >   
                                      <!-- <div class="card text-center"  (click)="comingSoonData()" >                                    -->
                                         <div class="card text-center"  (click)="redirecttopensioEss()" >                                        
                                         <div class="icon-area blue" >                                        
                                          <img src="assets/images/05.png"> <img src="assets/images/white1.png"> 
                                        </div> 
                                        <div class="title-area"> <a class="nav-link"   ><h6>Revise/Correction Request</h6> </a>
                                          <!-- <div class="title-area"> <a class="nav-link"  [routerLink]="['/CommutationRequests']"><h6>Commutation Request</h6> </a> -->

                                        </div>
                                      </div> 
                                    </div> 
                               
                                    <!-- <div class="col"> 
                                      <div class="card text-center"> 
                                      
                                        <div class="icon-area green">                                         
                                          <img src="assets/images/02.png"> <img src="assets/images/white2.png"> 
                                        </div>
                                        <div class="title-area"> <a class="nav-link" [routerLink]="['/Status']"><h6>Life Certificate</h6> </a></div>
                                     
                                    </div> 
                                    </div>  -->
                                    <div class="col" (click)="redirectToMultipal(7)" [hidden]='isHidden' *ngIf="isNotional"> 
                                      <div class="card text-center "> 
                                        
                                        <div class="icon-area yellow"  > 
                                          <img src="assets/images/03.png" > <img src="assets/images/white3.png"> 
                                        </div> 
                                      
                                        <div class="title-area"> <a class="nav-link" ><h6>Request For Notional Increment</h6> </a></div>
                                         
                                      </div> 
                                  </div> 
                                  <div class="col" >   
                                    <!-- <div class="card text-center"  (click)="comingSoonData()" >                                    -->
                                       <div class="card text-center"  (click)="redirectToMultipal(6)" >                                        
                                       <div class="icon-area blue" >                                        
                                        <img src="assets/images/05.png"> <img src="assets/images/white1.png"> 
                                      </div> 
                                      <div class="title-area"> <a class="nav-link"   ><h6>Earned Advanced Pension</h6> </a>
                                        <!-- <div class="title-area"> <a class="nav-link"  [routerLink]="['/CommutationRequests']"><h6>Commutation Request</h6> </a> -->

                                      </div>
                                    </div> 
                                  </div> 
                                
                                  </div> 
                                </div>
                                <div class="carousel-item "> 
                                  <div class="row Rais-new-requ"> 
                                    <div class="col" (click)="redirectToMultipal(1)"> 
                                      <div class="card text-center">
                                       
                                        <div class="icon-area red"  > 
                                          <img src="assets/images/04.png" ><img src="assets/images/white4.png"> 
                                        </div> 
                                       
                                        <div class="title-area"> <a class="nav-link" ><h6>Change Monthly Treasury</h6> </a></div>
                                      </div> 
                                    </div> 
                                       <div class="col" (click)="redirectToMultipal(2)" [hidden]='isHidden'> 
                                        <div class="card text-center "> 
                                          
                                          <div class="icon-area yellow"  > 
                                            <img src="assets/images/03.png" > <img src="assets/images/white3.png"> 
                                          </div> 
                                        
                                          <div class="title-area"> <a class="nav-link" ><h6>Update Bank Details</h6> </a></div>
                                           
                                        </div> 
                                    </div> 
                                     <!-- <div class="col" (click)="redirectToMultipal(3)"> 
                                      <div class="card text-center">                                       
                                        <div class="icon-area green" >                                         
                                          <img src="assets/images/02.png"> <img src="assets/images/white2.png"> 
                                        </div>
                                        
                                        <div class="title-area"> <a class="nav-link" ><h6>Update Address</h6> </a></div>
                                    </div> 
                                    </div>   -->
                                      <!-- <div class="col" (click)="redirectToMultipal(4)"> 
                                          <div class="card text-center"> 
                                           
                                            <div class="icon-area light-green" > 
                                              <img src="assets/images/05.png"><img src="assets/images/white5.png"> 
                                            </div> 
                                           
                                            <div class="title-area"> <a class="nav-link" ><h6>Change Profile Details</h6> </a></div>
                                          </div> 
                                      </div>  -->
                                      <!-- <div class="col"  (click)="redirectToMultipal(5)" [hidden]='isHidden'> 
                                        <div class="card text-center">
                                         
                                          <div class="icon-area purpal" > 
                                            <img src="assets/images/06.png"><img src="assets/images/white6.png"> </div>
                                            <div class="title-area"> <a class="nav-link" ><h6>Change Family Details</h6> </a></div>
                                          
                                        </div>
                                      </div> -->
                                  </div> 
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>


                  <div class="card">
                      <div class="card-header p-0 border-bottom-0 bg-transparent d-flex justify-content-between">
                          <h3 class="font-18">My Request</h3>
                      </div>                      

                      <div class="col-lg-12 mt-1">
                        <div class="card status mb-0 p-0">
                          <div class="card-body p-0">
                            <div class="row">
                              <div class="col-lg-9">
                                <form class="example" action="#">
                                  <mat-form-field appearance="outline" class="w-100">
                                    <input matInput [(ngModel)]="requestId" [ngModelOptions]="{standalone: true}"/>
                                    <mat-icon matPrefix>search</mat-icon>
                                  </mat-form-field>
                                </form>
                              </div>
                              <div class="col-lg-3">
                                <button mat-flat-button color="primary" class="w-100" (click)="getPensionDtls()">View Status</button>
                              </div>
                            </div>                           

                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 mt-1" *ngIf="isStatus">
                        <div class="card status mb-0 p-0">
                          <div class="card-body p-0">
                           <mat-label>Status:{{message}}</mat-label> 
                          </div>
                        </div>
                      </div>
                  </div>


                  <!-- <div class="card">
                    <div class="text-center">
                      <span style="background: #74acff; color: #fff; padding: 7px 10px; border-radius: 8px;"> Coming_Soon....Data Is Temporary.</span>
                    </div>
                    <div class="card-header p-0 border-bottom-0 bg-transparent d-flex justify-content-between">
                        <h3 class="font-18">Request Raised</h3> <a href="">View all</a>
                    </div>

                    <div class="row">
                      <div class="col-lg-8">
                        <mat-form-field class="w-100" appearance="outline">
                          <input type="text" placeholder="Quarterly" aria-label="" matInput [matAutocomplete]="auto">
                          <mat-autocomplete>
                            <mat-option>Category</mat-option><mat-option>Category</mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                      
                    </div>


                    <div class="card-body min-height">
                      <div class="card payment shadow-none mb-3 p-0">                 
                        <div class="card-body p-0">
                          

                          <div class="">
                            <table cellpadding="0" cellspacing="0">
                              <thead>
                                <tr>
                                  <td>No.</td>
                                  <td>Status</td>
                                  <td>Action</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><label>Request_01</label></td>
                                  <td><button class="btn btn-success btn-sm">Paid</button></td>
                                  <td>
                                    <button mat-stroked-button class="mx-2 mw-45px"><img src="assets/images/eye_icon.svg"></button>                                    
                                    <button mat-stroked-button class="mw-45px"><img src="assets/images/download.svg"></button>
                                  </td>
                                  
                                </tr>
                                <tr>
                                  <td> <label>Request_02</label> </td>
                                  <td><button class="btn btn-warning btn-sm">Pending</button></td>
                                  <td>
                                    <button mat-stroked-button class="mx-2 mw-45px"><img src="assets/images/eye_icon.svg"></button>                                    
                                    <button mat-stroked-button class="mw-45px"><img src="assets/images/download.svg"></button>
                                  </td>
                                </tr>
                                <tr>
                                  <td> <label>Request_03</label> </td>
                                  <td><button class="btn btn-success btn-sm">Paid</button></td>
                                  <td>
                                    <button mat-stroked-button class="mx-2 mw-45px"><img src="assets/images/eye_icon.svg"></button>                                    
                                    <button mat-stroked-button class="mw-45px"><img src="assets/images/download.svg"></button>
                                  </td>
                                  
                                </tr>
                                <tr>
                                  <td> <label>Request_04</label> </td>
                                  <td><button class="btn btn-success btn-sm">Paid</button></td>
                                  <td>
                                    <button mat-stroked-button class="mx-2 mw-45px"><img src="assets/images/eye_icon.svg"></button>                                    
                                    <button mat-stroked-button class="mw-45px"><img src="assets/images/download.svg"></button>
                                  </td>
                                  
                                </tr>
                                <tr>
                                  <td> <label>Request_05</label> </td>
                                  <td><button class="btn btn-success btn-sm">Paid</button></td>
                                  <td>
                                    <button mat-stroked-button class="mx-2 mw-45px"><img src="assets/images/eye_icon.svg"></button>                                    
                                    <button mat-stroked-button class="mw-45px"><img src="assets/images/download.svg"></button>
                                  </td>
                                </tr>
                                <tr>
                                  <td> <label>Request_06</label> </td>
                                  <td><button class="btn btn-success btn-sm">Paid</button></td>
                                  <td>
                                    <button mat-stroked-button class="mx-2 mw-45px"><img src="assets/images/eye_icon.svg"></button>                                    
                                    <button mat-stroked-button class="mw-45px"><img src="assets/images/download.svg"></button>
                                  </td>
                                </tr>
        
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>                      
                    </div>
                </div>                  -->
              </div>
            </div>

              
  
              <div class="col-lg-12">                 
                    <div class="card">
                      <div class="card-header p-0 border-bottom-0 bg-transparent d-flex justify-content-between">
                          <h3 class="font-18">Announcements</h3> <a href="">View all</a>
                      </div>
                      <div class="row">
                        <div class="col-3">
                          <div class="card-body">
                            <div class="card payment shadow-none mb-3 py-0 mt-3">                 
                              <div class="card-body p-0 pt-2">
                                <div class="row">
                                  <div class="col-md-1 text-center pt-1">
                                    <img src="assets/images/update_icon.png">
                                  </div>
                                  <div class="col-md-11 payment_id">
                                    <label>Rajasthan government announces 4 per cent hike in DA of state employees, pensioners</label>
                                    <img class="my-3 w-100" src="assets/images/latest_news.png">
                                    <p>The Rajasthan government on Saturday announced a 4 per cent increase in the…</p>
                                    <span><mark></mark>12 Jan 2023 | 2:00 pm <img src="assets/images/new.png"></span>
                                  </div>                                    
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-3">
                          <div class="card-body">
                            <div class="card payment shadow-none mb-3 py-0 mt-3">                 
                              <div class="card-body p-0 pt-2">
                                <div class="row">
                                  <div class="col-md-1 text-center pt-1">
                                    <img src="assets/images/update_icon.png">
                                  </div>
                                  <div class="col-md-11 payment_id">
                                    <label>Rajasthan government announces 4 per cent hike in DA of state employees, pensioners</label>
                                    <img class="my-3 w-100" src="assets/images/latest_news.png">
                                    <p>The Rajasthan government on Saturday announced a 4 per cent increase in the…</p>
                                    <span><mark></mark>12 Jan 2023 | 2:00 pm <img src="assets/images/new.png"></span>
                                  </div>                                    
                                </div>
                              </div>
                            </div>
      
                            
                          </div>
                        </div>

                        <div class="col-3">
                          <div class="card-body">
                            <div class="card payment shadow-none mb-3 py-0 mt-3">                 
                              <div class="card-body p-0 pt-2">
                                <div class="row">
                                  <div class="col-md-1 text-center pt-1">
                                    <img src="assets/images/update_icon.png">
                                  </div>
                                  <div class="col-md-11 payment_id">
                                    <label>Rajasthan government announces 4 per cent hike in DA of state employees, pensioners</label>
                                    <img class="my-3 w-100" src="assets/images/latest_news.png">
                                    <p>The Rajasthan government on Saturday announced a 4 per cent increase in the…</p>
                                    <span><mark></mark>12 Jan 2023 | 2:00 pm <img src="assets/images/new.png"></span>
                                  </div>                                    
                                </div>
                              </div>
                            </div>
      
                            
                          </div>
                        </div>

                        <div class="col-3">
                          <div class="card-body">
                            <div class="card payment shadow-none mb-3 py-0 mt-3">                 
                              <div class="card-body p-0 pt-2">
                                <div class="row">
                                  <div class="col-md-1 text-center pt-1">
                                    <img src="assets/images/update_icon.png">
                                  </div>
                                  <div class="col-md-11 payment_id">
                                    <label>Rajasthan government announces 4 per cent hike in DA of state employees, pensioners</label>
                                    <img class="my-3 w-100" src="assets/images/latest_news.png">
                                    <p>The Rajasthan government on Saturday announced a 4 per cent increase in the…</p>
                                    <span><mark></mark>12 Jan 2023 | 2:00 pm <img src="assets/images/new.png"></span>
                                  </div>                                    
                                </div>
                              </div>
                            </div>
      
                            
                          </div>
                        </div>

                        

                  </div>
                </div>
                
              </div>

                
  
            </div>
        </div>

      </div>
    </div>
  
  </div>



  