

<div class="container-fluid">
    <mat-card class="card-shadow0 shadow-none p-0">
        <h2 class="p-0">Bank Details</h2>

        <div class="row">
            <form [formGroup]="bankDetailsForm" autocomplete="off">
                <div class="row mt-0 p-0">
                    <!-- <h2>Employee Code</h2> -->
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                            <!-- <mat-label>Contact Person<span class="red-star">*</span></mat-label> -->
                            <mat-label>Account No.</mat-label>
                            <mat-form-field class="w-100" appearance="legacy">
                              <input matInput formControlName="accountNo" (keypress)="numberOnly($event)" minlength=20 maxlength=20 placeholder="Enter account number">
                                                                  
                              
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('required')">
                                Mobile number is required
                              </mat-error> -->
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('pattern')">
                                Enter a valid mobile number
                              </mat-error> -->
                            </mat-form-field>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                            <!-- <mat-label>Contact Person<span class="red-star">*</span></mat-label> -->
                            <mat-label> Confirm Account No.</mat-label>
                            <mat-form-field class="w-100" appearance="legacy">
                              <input matInput formControlName="confirmaccountNo" (keypress)="numberOnly($event)" minlength=20 maxlength=20 placeholder="confirm account number">
                                                                  
                              
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('required')">
                                Mobile number is required
                              </mat-error> -->
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('pattern')">
                                Enter a valid mobile number
                              </mat-error> -->
                            </mat-form-field>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                            <!-- <mat-label>Contact Person<span class="red-star">*</span></mat-label> -->
                            <mat-label> IFSC Code</mat-label>
                            <mat-form-field class="w-100" appearance="legacy">
                              <input matInput formControlName="ifscCode" (keyup)="bankdetailsbyifsc()" (keypress)="alphaNumberOnly($event)" oninput="this.value = this.value.toUpperCase()"
                               minlength=20 maxlength=20 placeholder="Enter IFSC Code">
                                                                  
                              
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('required')">
                                Mobile number is required
                              </mat-error> -->
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('pattern')">
                                Enter a valid mobile number
                              </mat-error> -->
                            </mat-form-field>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                            <!-- <mat-label>Contact Person<span class="red-star">*</span></mat-label> -->
                            <mat-label> Bank Name</mat-label>
                            <mat-form-field class="w-100" appearance="legacy">
                              <input matInput formControlName="bankName"  placeholder="Enter Bank Name">
                               <!-- <input matInput placeholder="Bank Name" formControlName="bankName" readonly>  -->
                                                                  
                              
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('required')">
                                Mobile number is required
                              </mat-error> -->
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('pattern')">
                                Enter a valid mobile number
                              </mat-error> -->
                            </mat-form-field>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                            <!-- <mat-label>Contact Person<span class="red-star">*</span></mat-label> -->
                            <mat-label> Bank Branch Name</mat-label>
                            <mat-form-field class="w-100" appearance="legacy">
                              <input matInput formControlName="bankBranchName"  placeholder="Enter Bank Branch Name">
                               <!-- <input matInput placeholder="Bank Name" formControlName="bankName" readonly>  -->
                                                                  
                              
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('required')">
                                Mobile number is required
                              </mat-error> -->
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('pattern')">
                                Enter a valid mobile number
                              </mat-error> -->
                            </mat-form-field>
                          </div>








                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>
