


  <mat-tab-group animationDuration="0ms" color="primary" class="big-btn-padding">
    <mat-tab label="{{family}}Bank Details ">

      <div class="tab-container mt-4 ">
        <mat-card class="card">
         <!-- <div class="row d-flex justify-content-center">
           <div class="col-12 col-sm-6 col-md-4 col-lg-3 gx-1 mx-2 my-3" >
                 <mat-form-field class="example-full-width font-12 font-weight-600 text-dark w-100" appearance="outline" >
                   <mat-select class="py-5p" matNativeControl    placeholder="You have"  [(ngModel)]="type" [disabled]="true">
                     <mat-option value="E">Employee Code</mat-option>
                     <mat-option value="P">Pensioner ID</mat-option>
                 </mat-select>
                 </mat-form-field> 
           </div>
           <div class="col-12 col-sm-6 col-md-4 col-lg-3 gx-1 mx-2 mt-3"  >
               <mat-form-field appearance="outline" class="w-100">                      
                 <input matInput  [(ngModel)]="value" #input oninput="this.value = this.value.toUpperCase()" [readonly]="true"/>
               </mat-form-field>
             </div>
            
             <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2 gx-1 mx-2 my-3 mt-4">
              
           </div>


             

           
       </div>
       <hr> -->
       <div class="row w-100" *ngIf="psnDtls">
        <div class="col-md-6 col-lg-4 mt-3">
          <mat-label class="font_text"> Pensioner Name:</mat-label><br>
          <span class="font_bold">{{psnDtls?.nameEn}}</span>
      </div>
      <div class="col-md-6 col-lg-4 mt-3">
        <mat-label class="font_text"> Employee Code:</mat-label><br>
        <span class="font_bold">{{psnDtls?.employeeCode}}</span>
    </div>
    <div class="col-md-6 col-lg-4 mt-3">
      <mat-label class="font_text"> PPO No:</mat-label><br>
      <span class="font_bold">{{psnDtls?.ppoNo}}</span>
  </div>

        <div class="col-md-6 col-lg-4 mt-3">
            <mat-label class="font_text"> Bank Name:</mat-label><br>
            <span class="font_bold">{{bankDtls?.bankName}}</span>
        </div>
  
        <div class="col-md-6 col-lg-4 mt-3 ">         
            <mat-label class="font_text"> Branch Name:</mat-label><br>
            <span class="font_bold">{{bankDtls?.branchName}}</span>
        </div>
        <div class="col-md-6 col-lg-4 mt-3 ">
         
          <mat-label class="font_text"> Bank Account No:</mat-label>
          <br>
          <span class="font_bold">{{bankDtls?.accountNo}}</span>
        
      </div>
      <div class="col-md-6 col-lg-4 mt-3 ">
         
        <mat-label class="font_text"> IFSC Code:</mat-label>
        <br>
        <span class="font_bold">{{bankDtls?.ifscCode}}</span>
      
    </div>
    <!-- <div class="col-md-6 col-lg-4 mt-3 ">         
      <button mat-raised-button color="primary" type="submit" class="big-btn-padding" (click)="changeIfsc()"> Do you wish to update Bank Details </button>
  </div> -->

        <div class="col-md-6 col-lg-4 mt-3" >
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>New IFSC Code:</mat-label>
            <input matInput #input [(ngModel)]="newIfscCode" (blur)="getBankBranchByIfsc()">
        
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 mt-3" *ngIf="newBankDtls">
          <mat-label class="font_text"> New Bank Name:</mat-label><br>
          <span class="font_bold">{{newBankDtls?.bankNameEn}}</span>
      </div>

      <div class="col-md-6 col-lg-4 mt-3 " *ngIf="newBankDtls">         
          <mat-label class="font_text">New Branch Name:</mat-label><br>
          <span class="font_bold">{{newBankDtls?.branchNameEn}}</span>
      </div>
        <div class="col-md-6 col-lg-4 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label> Account No:</mat-label>
            <input matInput #input [(ngModel)]="accNo"  [attr.type]="inputType" 
           
            (blur)="toggleInputType()" (keydown)="allowOnlyNumbers($event)">
        
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 mt-3" >
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Confirm Account No:</mat-label>
            <input matInput #input [(ngModel)]="conAccNo"  type="text"  (keydown)="allowOnlyNumbers($event)">
        
          </mat-form-field>
        </div>
        <h3 class="mt-4">Document</h3>
        <div class="col-12 col-sm-6 col-md-6 col-xl-4 file-uploder-container mt-4" *ngIf=" docId==null">
          <div class="d-flex flex-column mt-1">
              <div class="upload-lable-text btn">
                  <label for="inputGroupFile3">Drag & drop or <span class="file-browse">
                          browse</span></label>

              </div>
              <div class="input-group custom-file-button">
                  <input type="file" class="form-control file-upload-input hidden"
                      id="inputGroupFile3" hidden multiple="true" (change)="uploadFile($event)"
                      >
              </div>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-4 file-uploder-container mt-4" *ngIf=" docId>1">
        <mat-icon style="color: rgb(139, 185, 245);" (click)="common.Previewbydocid(docId,'');">remove_red_eye</mat-icon>
        <mat-icon style="color: rgb(139, 185, 245);" (click)="removeDoc()">delete</mat-icon>
    </div>
      <div class="col-md-12 col-lg-12 mt-3 text-end" >         
        <!-- <button mat-raised-button color="primary" type="submit" class="big-btn-padding" (click)="Submit()"> Update </button> -->
    </div>
        </div>
      </mat-card>
  </div>

    </mat-tab>
  </mat-tab-group>




 