.withdraw-container {
    .salary-card {
        background-color: #EEF3F8;
        border-radius: 10px;
        border: 1px solid #5088B380;
        .salary-inner-card {
            background-color: #5088B3;
            border-radius: 6px;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .limit-card {
        background-color: #F0F7F8;
        border-radius: 10px;
        border: 1px solid #52BB9C80;
        .limit-inner-card {
            background-color: #6BAEB5;
            border-radius: 6px;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .calculations-card {
        background: var(--lightbluegradient);
        border-radius: 5px;
        height: 100%;
        // color: #fff;
        img {
            width: 30px;
        }
        .arrow-icon {
            font-size: 30px;
            display: inline-block;
        }
    }
}

.light-black-color {
    color: #555B62;
    font-size: 14px;
}

.secondary-heading {
    background-color: #F0F2F4;
    border-radius: 5px 5px 0 0;
    padding: 13px;
}

.fade-color {
    color: #ccc;
    font-size: 18px;
}

.text-nowrap {
    white-space: nowrap;
}

.salary-type-container {
    .salary-type-card {
        background-color: #F8FBFD;
    }

    .choose-cards {
        box-shadow: 0 5px 20px #6170881A;
        border-radius: 10px;
        img {
            width: 50px;
        }
    }
}


::ng-deep .choose-cards .mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px !important;
}

::ng-deep .choose-cards .mat-slider.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
.mat-slider.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: #2A6DD9 !important;
}

::ng-deep .choose-cards .mat-slider-thumb {
    width: 22px !important;
    height: 22px !important;
}

::ng-deep .choose-cards .mat-slider-horizontal .mat-slider-wrapper {
    height: 3px !important;
}

::ng-deep .choose-cards .mat-slider-track-background {
    background-color: #C1D9FF !important;
}

::ng-deep .choose-cards .mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {
    border-radius: none;
}

::ng-deep .choose-cards .mat-slider-thumb-label {
    width: 40px !important;
    height: 40px !important;
    border-radius: none !important;
    transition: none !important;
    top: -65px !important;
    background-color: #6C6C6C !important;
    right: -19px !important;
}

::ng-deep .choose-cards .mat-slider-thumb {
    transform: none !important;
}

// media query

@media screen and (min-width:1400px) and (max-width:1490px) {
    .withdraw-container {
        text-align: center;

        .salary-card {
            flex-direction: column !important;
        }

        .limit-card {
            flex-direction: column !important;
        }

        .calculations-card {
            flex-direction: column !important;
        }
    }
}


// ------------------------------------
// ----------Deepak Code---------------
// ------------------------------------
.min-height {
    height: 90px;
    overflow-y: auto;
    padding: 0px;
}

.date-time {
    font-weight: normal;
    font-size: 10px;
    color: #a3aab7;
}

.amount-dabited-text {
    font-size: 10px;
    color: #ff3f4c;
}

.amount-dabited{
    color: #ff3f4c;
}

.amount-cradited-text {
    font-size: 10px;
    color: #00BE9A;
}

.amount-cradited {
    color: #00BE9A;
}

.tran_type {
    background-color: #ffffff;
    position: relative;
    display: block;
    width: fit-content;
    padding: 5px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    color: #d1caca;
    margin-top: -30px;
}

.need-help-card{
    background-color: #F4F4FF;
    border: 1px solid #D0D0F8;
}

.need-help-content{
    border-radius: 5px;
    box-shadow: 3px 3px 6px #00000029;
    img{
        width: 40px;
    }
}


@media (max-width: 575.98px) { 
.amount-container
{
    display: flex;
}
 }

 /* Hide the spinners in number inputs for Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinners in number inputs for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}