<div class="container-fluid mb-5">
    <mat-card class="card-shadow">
        <h3 class="my-3">How much would you like to withdraw?</h3>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">

                <div class="row withdraw-container">

                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 d-flex mt-3">
                        <mat-card class="salary-card d-flex justify-content-start align-items-center gap-3 w-100">
                            <mat-card class="salary-inner-card">
                                <span>&#8377;</span>
                                <span class="ms-2">{{earnedAdvSalary | number}}</span>
                            </mat-card>
                            <span class="subtitle-1 light-black-color">Net pension</span>
                        </mat-card>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 d-flex mt-3">
                        <mat-card class="limit-card d-flex justify-content-start align-items-center gap-3 w-100">
                            <mat-card class="limit-inner-card">
                                <span>&#8377;</span>
                                <span class="ms-2">{{earnedAdvSalaryLimit | number}}</span>
                            </mat-card>
                            <span class="subtitle-1 light-black-color">Your advance limit</span>
                        </mat-card>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-4 mt-3">
                        <mat-card (click)="openCalculationModal()"
                            class="calculations-card d-flex justify-content-between align-items-center gap-3 w-100">
                            <img src="./assets/images/calculations.svg" alt="image">
                            <span class="subtitle-1">See Calculations</span>
                            <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
                        </mat-card>
                    </div>

                </div>

                <div class="row mt-4 salary-type-container">
                    <form [formGroup]="advanceSalaryWithdrawalForm">
                    <div class="col-12">
                        <h2 class="secondary-heading m-0">Earned Pension Advance Details</h2>
                       
                        <mat-form-field class="w-50 mt-3">
                            <mat-label>Enter Amount</mat-label>
                            <input matInput numberOnly min="50" formControlName="amount" type="number">
                            <mat-hint>Minimum limit is Rs.50</mat-hint>
                            
                        </mat-form-field>

                        <mat-error class="f-12" *ngIf="showMinLimitError">Entered amount is less then minimum limit of Rs.50</mat-error>
                            <!-- <mat-error  class="f-12" *ngIf="showMaxLimitError">Entered amount is greater then Maximum limit Rs.{{this.earnedAdvSalaryMaxLimit}}</mat-error> -->
                       
                    </div>
                    <div class="d-flex justify-content-end mt-5">
                        <button class="px-5" mat-raised-button color="primary" (click)="proceed()"  >Proceed</button>
                        <!-- [disabled]="advanceSalaryWithdrawalForm?.invalid" -->
                    </div>
                </form>

                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <mat-card class="card-shadow mt-3">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="subtitle-1 m-0">Summary of Transactions</p>
                        </div>
                        <div class="col-3">
                            <img class="float-end" src="./assets/images/transaction-summry-icon.svg" alt="">
                        </div>
                    </div>
                    <div class="date-range-container container mt-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Start date">
                                <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="min-height">
                        <div class="payment shadow-none my-3 py-0 container"
                                        *ngFor="let transItem of tranDtl">
                                        <div class="card-body  border-top pt-2">
                                            <div class="row align-items-center mb-2">
                                                <div class="col-12 col-sm-8">
                                                    <div class="d-flex align-items-start">
                                                        <div class="me-2"><img
                                                                [src]="transItem.type=='CR' ? './assets/images/arrow-circle-green.png' : './assets/images/arrow-circle-red.png'" />
                                                        </div>
                                                        <div>
                                                            <p
                                                                [ngClass]="{'m-0 medium-font bodytext-color': transItem.type=='CR', 'medium-font bodytext-color m-0': transItem.type=='DR'}">
                                                                
                                                                
                                                                {{ transItem.type=='CR' ? 'Advance received': 'Dues paid' }}
                                                            
                                                            </p>
                                                            <p class="m-0 date-time">{{ transItem.tranDt | date }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4 pe-0">
                                                    <div class="amount-container float-sm-end mt-2 mt-sm-0 float-start">
                                                        <p [ngClass]="{'m-0 amount-dabited-text': transItem.type == 'DR', 'm-0 amount-cradited-text': transItem.type=='CR'}"
                                                            class="">
                                                            {{ transItem.type=='CR' ? 'Amount': 'Amount deducted' }}
                                                            
                                                            </p>
                                                        <p
                                                            [ngClass]="{'m-0 subtitle-1 amount-dabited ps-3 ps-sm-0': transItem.type == 'DR', 'm-0 amount-cradited subtitle-1 ps-3 ps-sm-0': transItem.type=='CR'}">
                                                            {{ transItem.amnt | currency : 'INR' }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        <!-- <div class="payment shadow-none my-3 py-0 container">
                            <div class="card-body  border-top pt-3">
                                <div class="row align-items-center mb-2">
                                    <div class="col-12 col-sm-8">
                                        <div class="d-flex align-items-start">
                                            <div class="me-2"><img src="./assets/images/arrow-circle-green.png" /></div>
                                            <div>
                                                <p class="m-0 medium-font bodytext-color">Repayment received</p>
                                                <p class="m-0 date-time">12 Jan 2023 | 2:00 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 pe-0">
                                        <div class="amount-container float-sm-end mt-2 mt-sm-0 float-start">
                                            <p class="m-0 amount-cradited-text">Amount credited</p>
                                            <p class="m-0 amount-cradited subtitle-1 ps-3 ps-sm-0">₹ 55,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                 
                        <!-- <div class=" payment shadow-none my-3 py-0 container">
                            <div class="card-body  border-top pt-3">
                                <div class="row align-items-center mb-2">
                                    <div class="col-12 col-sm-8">
                                        <div class="d-flex align-items-start">
                                            <div class="me-2"><img src="./assets/images/arrow-circle-green.png" /></div>
                                            <div>
                                                <p class="m-0 medium-font bodytext-color">Repayment received</p>
                                                <p class="m-0 date-time">12 Jan 2023 | 2:00 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 pe-0">
                                        <div class="amount-container float-sm-end mt-2 mt-sm-0 float-start">
                                            <p class="m-0 amount-cradited-text">Amount credited</p>
                                            <p class="m-0 amount-cradited subtitle-1 ps-3 ps-sm-0">₹ 55,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="payment shadow-none my-3 py-0 container">
                            <div class="card-body  border-top pt-3">
                                <div class="row align-items-center mb-2">
                                    <div class="col-12 col-sm-8">
                                        <div class="d-flex align-items-start">
                                            <div class="me-2"><img src="./assets/images/arrow-circle-green.png" /></div>
                                            <div>
                                                <p class="m-0 medium-font bodytext-color">Repayment received</p>
                                                <p class="m-0 date-time">12 Jan 2023 | 2:00 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 pe-0">
                                        <div class="amount-container float-sm-end mt-2 mt-sm-0 float-start">
                                            <p class="m-0 amount-cradited-text">Amount credited</p>
                                            <p class="m-0 amount-cradited subtitle-1 ps-3 ps-sm-0">₹ 55,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="payment shadow-none my-3 py-0 container">
                            <div class="card-body  border-top pt-3">
                                <div class="row align-items-center mb-2">
                                    <div class="col-12 col-sm-8">
                                        <div class="d-flex align-items-start">
                                            <div class="me-2"><img src="./assets/images/arrow-circle-green.png" /></div>
                                            <div>
                                                <p class="m-0 medium-font bodytext-color">Repayment received</p>
                                                <p class="m-0 date-time">12 Jan 2023 | 2:00 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 pe-0">
                                        <div class="amount-container float-sm-end mt-2 mt-sm-0 float-start">
                                            <p class="m-0 amount-cradited-text">Amount credited</p>
                                            <p class="m-0 amount-cradited subtitle-1 ps-3 ps-sm-0">₹ 55,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="view-all-link py-4">
                      
                        <a class="float-end primary medium-font" [routerLink]="['../track-transaction']" >View all</a>
                    </div>
                </mat-card>
                <mat-card class="need-help-card mt-2 card-shadow">
                    <p class="m-0 subtitle-1 mb-3">Need Help ?</p>
                    <div class="need-help-content d-flex align-items-center bg-white p-2 mb-2">
                        <img src="./assets/images/icon-af-note.svg" alt="icon">
                        <p class="m-0 subtitle-1 ms-3"> FAQs</p>
                    </div>
                    <div class="need-help-content d-flex align-items-center bg-white p-2 mb-2">
                        <img src="./assets/images/icon-revenue-note.svg" alt="icon">
                        <p class="m-0 subtitle-1 ms-3">Instructions</p>
                    </div>
                    <button class="w-100 mt-2" mat-raised-button color="primary">Chat with us</button>
                </mat-card>
            </div>

        </div>

        
    </mat-card>
</div>