<div class="row mb-3 mt-1 heading-1">
    <div class="col-lg-10">
      <h2 class="m-4">Frequently Asked Questions </h2>
    </div>
    <div class="col-lg-2  text-end">
        <button mat-stroked-button type="button" class="mt-2 pt-2 border-0">
            <a class="text-danger" href="assets/files/advanced_pension_faq.pdf" download="Advanced_Pension_FAQ"> <mat-icon>picture_as_pdf</mat-icon> </a>
        </button>
      </div>

    <button class="btn btn-outline-cancel cancel_btn me-2" mat-stroked-button color="primary" type="button" mat-dialog-close>X</button>
</div>



<div class="mt-2" style="overflow: auto; height:70vh;">
        <mat-card class="heading-2 mt-2 ml-4" > About Refyne </mat-card>
            <div class="mt-2">
                <mat-card class="questions">        Q.1. What is Refyne?    </mat-card>
                <span class="answer">Refyne is Asia's #1 holistic Financial Wellness Suite. The company offers advance against 3-month pension service, earned pension advance drawal access scheme, and other financial wellness products and services. Your company has partnered with Refyne to give you access to some or all Refyne products.</span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.2. How does Refyne function?    </mat-card>
                <span class="answer">Refyne integrates with the government of Rajasthan's payroll/pension management systems. Once the government uploads your pension data, you can see what part of your pension amount you have access to. When you make a withdrawal on Refyne, you don't have to make any repayment—your company will deduct the amount from your monthly pension and pay to Refyne.</span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">
                    Q.3. How can I use Refyne?
                </mat-card>
                <span class="answer">You can log in to iFMS3.0 through your SSO ID and submit your consent and undertaking to the service provider or financial institution authorized by RFSDL through the Pensioners/Family Pensioners Self-Service. You can access Refyne via IOS/Android App or Web App.</span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">
                    Q.4. How safe is my data with Refyne?
                </mat-card>
                <span class="answer">Refyne stores all its data securely behind a firewall, which can only be accessed by parties with clear permission from the user. We are ISO 27001 and SOC2 (type-2) certified and follow the Reserve Bank of India's (RBI) guidelines.</span>
            </div>
        <mat-card class="heading-2 mt-2 ml-4" > About KYC Verification</mat-card>
            <div class="mt-2">
                <mat-card class="questions"> Q.1. Is it compulsory to complete KYC? </mat-card>
                <span class="answer">According to Reserve Bank of India's (RBI) guidelines, KYC is mandatory for banks or NBFCs to transfer any amount to a customer's account. This is a one-time process, and it takes less than two minutes to upload the documents directly to the Refyne app.</span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.2. How long does KYC verification take?    </mat-card>
                <span class="answer">The verification process is instant, but in some cases, it may take up to two hours. </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions"> Q.3. What are the documents required for verification? </mat-card>
                <span class="answer">We suggest you use Aadhaar-based authentication. However, your mobile number should be linked with your Aadhaar for that. Refyne also accepts Driver's Licence and Voter's ID.</span>
            </div>
            <div class="mt-2">
                <mat-card class="questions"> Q.4. I've received an email saying my KYC is incomplete. What should I do? </mat-card>
                <span class="answer">
                    Sometimes KYC verification fails for the following reasons:<br>
                    ●	Uploaded selfie doesn't match with the image on your documents.<br>
                    ●	Your PAN details have not been uploaded in the correct format.<br>
                    ●	There are discrepancies with your address proof.<br>
                    ●	There's a mismatch between your bank and personal details.<br>
                        If the issue persists, please reach out to your HR.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions"> Q.5. I got Re.1 in my account. Why did I get that? </mat-card>
                <span class="answer">When you update your bank details, we deposit Re.1 to authenticate the account. This helps us confirm that the account belongs to a registered employee. </span>
            </div>
        <mat-card class="heading-2 mt-2"> About earned pension advance drawal access scheme</mat-card>
            <div class="mt-2">
                <mat-card class="questions"> Q.1. Why is my earned pension advance amount different from my actual pension amount? </mat-card>
                <span class="answer">Your earned pension amount is calculated based on the pension details provided by your employer. It may differ from your actual monthly pension. </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions"> Q.2. How is my daily earned pension amount calculated? </mat-card>
                <span class="answer">We divide your pension pay by the number of days in the month. This gives us your daily pension. </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions"> Q.3. Do I have to pay to check my earned pension amount on Refyne? </mat-card>
                <span class="answer">No, tracking your earned pension amount is entirely free on Refyne. </span>
            </div>

        <mat-card class="heading-2 mt-2"> About Pension Withdrawals</mat-card>
            <div class="mt-2">
                <mat-card class="questions"> Q.1. Why am I unable to make withdrawals? </mat-card>
                <span class="answer">Transactions can be paused for many reasons:
                    ●	We may not have received the money you withdrew in the previous month.
                    ●	Your pension amount is being calculated by your employer and your withdrawals may be paused for some time.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions"> Q.2. Why hasn't my withdrawn money been credited? </mat-card>
                <span class="answer">We transfer the amount immediately, but your bank may take up to 5 business days to deposit it into your account.
                    Contact us at support@refyne.co.in or +91 8064899999 if it has been longer.        
                </span>
            </div>

        <mat-card class="heading-2 mt-2"> Account Settings</mat-card>
            <div class="mt-2">
                <mat-card class="questions"> Q.1. How do I update my phone number? </mat-card>
                <span class="answer">Send your old and new mobile numbers, together with your employee code, to support@refyne.co.in.
                    We'll update your phone number once your employer confirms it, which could take up to 3 days.        
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions"> Q.2. How do I update my bank account on the Refyne app? </mat-card>
                <span class="answer">
                    1.	Open the Refyne app.<br>
                    2.	At the bottom of the screen, tap the 'Profile' tab.<br>
                    3.	Scroll down to the 'Bank Details' section.<br>
                    4.	Select 'Edit' from the drop-down menu.<br>
                    5.	Enter your new account number or IFSC code.<br>
                    6.	Click 'Update,' and the new bank account will be verified in about 10 minutes.<br>
                    Note: You can only add your own bank accounts. Accounts of friends and family members cannot be added.
                    
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.3. How do I deactivate my account / delete all my data on the Refyne App?    </mat-card>
                <span class="answer">We are sorry to see you leave. We are always ready to address your concerns. You can reach out to Customer Support for any issues you might be facing.
                    Please be informed that you will not be able to log in to the platform and use any refyne services once your account is deleted. <br>       
                    ●	You can always choose to reactivate your account by reaching out to our Customer Support team but you will have to start again as a new user.
                    
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.4. Why did I get less money than I had requested?    </mat-card>
                <span class="answer"> ●	We deduct a nominal processing fee for every transaction and deposit the balance amount into your bank account. The deduction break-up will be sent to your registered email and updated on the Refyne app.</span>
            </div>

        <mat-card class="heading-2 mt-2">    Referral Rewards</mat-card>
            <div class="mt-2">
                <mat-card class="questions">        Q.1. What is the offer?    </mat-card>
                <span class="answer">
                    ●	Your Colleague must install the app and sign up using the referral link shared.<br>
                    ●	Your Colleague must install the app and must satisfy the conditions as per the referral scheme displayed in the rewards section using the referral link shared by the referrer.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.2. What is the eligibility criteria?    </mat-card>
                <span class="answer">
                    ●	Referred colleague must install the app and sign up using the referral link shared by the referrer.<br>
                    ●	The referred colleague should install the app and satisfy the referral condition using the referral link shared by the referrer.<br>
                    ●	The referred colleague should not uninstall the app once downloaded before signing up.<br>
                    ●	Cashback for a referred colleague can be availed once per colleague/phone number.<br>

                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.3. What is the offer duration?    </mat-card>
                <span class="answer">        There is no time constraint with respect to the offer duration.    </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.4. How many times this offer can be availed?    </mat-card>
                <span class="answer">
                    This offer can be availed only once per a successfully referred colleague.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.5. How do I avail of the offer?    </mat-card>
                <span class="answer">
                    ● Your Colleague needs to install the Refyne app using the referrer’s referral link<br>
                    ● Your Colleague must install the app and sign up using the referral link shared.<br>
                    ● Your Colleague must install the app and must satisfy the conditions as per the referral scheme displayed in the rewards section using the referral link shared by the referrer.

                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.6. When do I get the cashback/benefit?    </mat-card>
                <span class="answer">
                    The reward availed will be reflected under the rewards section within 24 hours of successful completion of the referral (colleague’s sign up on Refyne and meet conditions as per referral scheme) on which the offer is applicable.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.7. What happens if I am eligible for more than one offer?    </mat-card>
                <span class="answer">
                    At the moment, there are no constraints on the maximum number of offers that the customer can avail.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.8. What happens in case of reversal of my transaction?    </mat-card>
                <span class="answer">        In case of any transaction reversals, the reward availed on the transaction will continue to remain as part of your reward section.    </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.9. Other Terms and Conditions:    </mat-card>
                <span class="answer">
                    ●	There is no limitation on the amount a customer can earn through referral via the Refyne app per financial year (i.e. 1st April to 31st March)<br>
                    ● Any cashback-related queries should be raised within 30 days, post successful signup or transaction.<br>
                    ● Cashback is subject to withdrawal and no transaction fee will be charged for it.<br>
                    ● The referral must be initiated using the Refyne app and completed by the customer within the Refyne app.<br>
                    ● Refyne reserves the right to award offers and related benefits as per internal policy decided by Refyne from time to time.<br>
                    ● Refyne has the right to amend the terms & conditions, end the offer, or call back any or all of its offers without prior notice.<br>
                    ● In case of any dispute, Refyne reserves the right to resolve the same as per the Terms & conditions of any offer at its sole discretion.

                </span>
            </div>

        <mat-card class="heading-2 mt-2">    Advance against 3 months Pension service</mat-card>
            <div class="mt-2">
                <mat-card class="questions">       Q.1. What is the fee structure for the advance against 3-month pension service?    </mat-card>
                <span class="answer">
                    Refyne offers a straightforward and transparent fee structure with a one-time flat fee. This means that employees are aware of the exact charges they will incur, promoting transparency in financial transactions.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.2. How is the one-time flat fee determined for advance against 3-month pension service?    </mat-card>
                <span class="answer">
                    Refyne collaborates with employers to agree upon charges that prioritize the best interests of pensioners. This collaborative approach ensures that the financial terms are favorable and aligned with the well-being of the workforce
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.3. How does Refyne provide cost-effective advance against 3-month pension service?    </mat-card>
                <span class="answer">
                    As your company's financial wellness partner, Refyne prioritizes pensioners' best interests by eliminating charges like interest, processing fees, and penalties. With a cost-effective approach, pensioners pay only the agreed one-time flat fee, setting Refyne apart as the superior choice in the market.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.4. Does Refyne offer the most affordable advance against 3-month pension service?    </mat-card>
                <span class="answer">
                    Through an exclusive tie-up with the employer, Refyne secures the lowest cost for its advance salary service. This exclusive arrangement enables pensioners to access advances at the most affordable rates, distinguishing Refyne from competitors charging higher fees.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.5. Stress-free repayments: tools for easy tracking by Refyne?    </mat-card>
                <span class="answer">
                    Refyne simplifies the repayment process by deducting monthly EMIs directly from your monthly pension amount. The Refyne app further enhances the experience by providing easy tracking and management of the loan, contributing to stress-free repayments.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.6. Refyne's rates vs. competitors and expected pensioner savings?    </mat-card>
                <span class="answer">
                    Refyne stands out by offering significant savings on interest compared to competitors who may charge interest rates exceeding 36%. This cost-saving benefit makes Refyne an attractive choice for pensioners seeking advance against 3-month pension service.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.7. Does Refyne offer additional discounts?    </mat-card>
                <span class="answer">
                    Refyne goes beyond a simple fee structure by offering additional discounts, increasing the overall value of its advance against 3-month pension service. This commitment to enhancing benefits sets Refyne apart in the market.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.8. What support does Refyne offer to address any issues?    </mat-card>
                <span class="answer">
                    Refyne prioritizes customer satisfaction by providing dedicated customer support. This ensures that any issues or concerns raised by pensioners are addressed promptly, contributing to a positive and reliable user experience.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.9. What features does the Refyne app offer for the advance against the 3-month pension service?    </mat-card>
                <span class="answer">
                    The Refyne app is designed to provide a user-friendly and seamless experience. It allows users to easily track and manage their loans, making the entire process convenient and accessible. This focus on user experience distinguishes Refyne as a top choice in the market.
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.10: What factors are considered in the advance against the 3-month pension application process?    </mat-card>
                <span class="answer">
                    We strive to ensure a smooth application process. Your application may require further attention if:
                    ●	You are under 85 years old, ensuring accessibility for a wider age group.<br>
                    ●	Your credit history does not show any loans with DPD (Days Past Due) exceeding 30 days in the previous 12 months.<br>
                    ●	Your Live Certificate is current with at least 30 days until expiration, ensuring all necessary documentation is up to date.<br>
                    ●	Your pension amount meets or exceeds Rs.10,000, aligning with our financial eligibility criteria.<br>
                    ●	We receive timely pension data from the Government.<br>
                    
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.11: How long can I get an advance for?    </mat-card>
                <span class="answer">
                    A: The advance tenure is customized to ensure flexibility and suitability based on your age and credit score:
                    ●	If you are under 65 years old, you can receive an advance for up to 2 months.<br>
                    ●	If you are 65 years or older, or if you have a New To Credit (NTC) status or no available Bureau information, the maximum tenure is 1 month.
                    
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.12: What is the maximum advance amount I can apply for?    </mat-card>
                <span class="answer">
                    A: The maximum advance amount you can apply for is tailored to your age, gender, and location:
                    ●	The maximum advance amount is ₹40,000.<br>
                    ●	Amounts are carefully determined based on these factors and EMI's are capped at 50% of your monthly pension.<br>
                    ●	These specific limits ensure that loans are aligned with pension regulations and eligibility criteria.
                    
                </span>
            </div>
            <div class="mt-2">
                <mat-card class="questions">        Q.13: What happens to an active advance if a pensioner passes away?    </mat-card>
                <span class="answer">
                    In the unfortunate event of the demise of a GOR pensioner who has an active advance or loan, Refyne will write off the remaining balance. This policy ensures that no financial burden is placed on the family or estate of the deceased. We handle such situations with utmost sensitivity and adherence to our commitment to supporting our clients and their beneficiaries during difficult times.
                </span>
            </div>
</div>