.upload-lable-text{
    background-color: #2A6DD90F;
    border: 1px dashed #006FE1;
  }
  

  .my-4 {
    margin-top: 2.5rem!important;
    margin-bottom: 1.5rem!important;
}
.success {
  color: #23966B;
  font-size: 24px;
  font-weight: 600;
}

.success_subtext {
  font-size: 20px;
}



.mat-dialog-container{border: 3px solid #2a6dd9 !important;    padding: 0 0 24px 0 !important;}
.heading-1{margin:-24px -20px 0px -24px !important; }
.heading-2{background: #c0daff !important; margin:10px 0px 0px 0px !important; width: 100%;}

.questions{
    background: linear-gradient(90deg, #599afd 0%, #1b54b1 100%);    
    margin: 2% 0;
    color: #fff;
    font-size:1.6rem;
    padding: 1%;

}
.answer{
    // margin: 3%;
    font-size: 1.4rem;
    text-align: justify;

}



.cancel_btn{position: fixed;  top: 73px;  min-width: 14px;  width: 40px;  height: 40px;  padding: 0 !important;  border-radius: 50%;  right: 14%;  background: #fff;  font-size: 16px;  font-weight: 600;}