<div class="container-fluid" style="background-color: #edf0f2;">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="registration-card">
                <div>
                    <form>
                        <div class="tab-container mt-0">
                            <div class="container-fluid">
                                <mat-card class="mt-0">
                                    

                                    <div class="row mt-4">
                                        <div class="col-lg-6">

                                            <mat-label class="fs-5 d-block fw-bold mb-4">Pension Calculator</mat-label>
                                            
                                            <mat-card class="shadow-lg">
                                                <mat-slider value="40" aria-label="unit(s)" color="primary" class="w-100"></mat-slider>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <span class="fs-6 fw-bold">Your Age</span>
                                                    </div>
                                                    <div class="col-lg-6 text-end">
                                                        <span class="bg-light p-2 px-5"> 30 </span>
                                                    </div>
                                                </div>
                                            </mat-card>


                                            <mat-card class="mt-4 shadow-lg">
                                                <mat-slider value="60" aria-label="unit(s)" color="primary" class="w-100"></mat-slider>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <span class="fs-6 fw-bold">Investment per month</span>
                                                    </div>
                                                    <div class="col-lg-6 text-end">
                                                        <span class="bg-light p-2 px-5"> ₹ 1,000 </span>
                                                    </div>
                                                </div>
                                            </mat-card>

                                            <mat-card class="mt-4 shadow-lg">
                                                <mat-slider value="10" aria-label="unit(s)" color="primary" class="w-100"></mat-slider>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <span class="fs-6 fw-bold">Expected Return (p.a)*</span>
                                                    </div>
                                                    <div class="col-lg-6 text-end">
                                                        <span class="bg-light p-2 px-5"> 10% </span>
                                                    </div>
                                                </div>
                                            </mat-card>


                                            <mat-card class="mt-4 shadow-lg">
                                                <mat-slider value="40" aria-label="unit(s)" color="primary" class="w-100"></mat-slider>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <span class="fs-6 fw-bold">I would like to purchase annuity for</span>
                                                    </div>
                                                    <div class="col-lg-6 text-end">
                                                        <span class="bg-light p-2 px-5"> 40% </span>
                                                    </div>
                                                </div>
                                            </mat-card>

                                            <mat-card class="mt-4 shadow-lg">
                                                <mat-slider value="6" aria-label="unit(s)" color="primary" class="w-100"></mat-slider>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <span class="fs-6 fw-bold">I am expecting an annuity rate of*</span>
                                                    </div>
                                                    <div class="col-lg-6 text-end">
                                                        <span class="bg-light p-2 px-5"> 6% </span>
                                                    </div>
                                                </div>
                                            </mat-card>


                                            
                                            
                                        </div>


                                        <div class="col-lg-6">

                                            <mat-label class="fs-5 d-block fw-bold mb-4">Status of your Pension Account at Retirement</mat-label>

                                            <img src="../../../../../../assets/images/charts_pension.jpg" class="img-fluid">

                                            <button mat-flat-button color="primary" class="w-100 fs-5 fw-bold p-3 my-4 py-4">Your Expected Monthly Pension will be ₹ 50,000</button>

                                            <div class="bg-light p-3">
                                                <p>*Disclaimer: The above calculation and illustration of figures are indicative only and not on actual basis. Investments under NPS are subject to market risk. </p>
                                                <p>For details on Annuity plans and rates, <a href="#"> Please visit</a> </p>
                                                <p>For details on returns of various NPS schemes, <a href="#">Please visit.</a></p>
                                                    
                                                    
                                            </div>


                                            


                                           


                                            
                                            
                                        </div>

                                        

                                        

                                    
                                        

                                        

                                       


                                        



                                        
                                    </div>
                                </mat-card>

                               

                                

                              

                               
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>