<mat-toolbar color="primary" class="header-toolbar">
  <!-- Left logo -->
  <img src="assets/images/logo.png" alt="Logo" class="logo">

  <!-- Title -->
  <span class="title">AGRABANDHU SAMAJ INDRA GANDHI NAGAR, JAIPUR</span>

  <!-- Spacer -->
  <span class="spacer"></span>

  <!-- Top-right info -->
  <div class="top-right">
    <a href="mailto:info@agrasensamaj.org">agrabandhuigm@gmail.com</a>
    <button mat-icon-button>
      <!-- <mat-icon fontSet="fa" fontIcon="fa-facebook"></mat-icon> -->
    </button>
    <button mat-icon-button>
      <!-- <mat-icon fontSet="fa" fontIcon="fa-twitter"></mat-icon> -->
    </button>
  </div>
</mat-toolbar>

<!-- Navigation bar -->
<mat-toolbar color="warn" class="nav-toolbar">
  <a mat-button routerLink="/">Home</a>
  <a mat-button [matMenuTriggerFor]="aboutMenu">About Us</a>
  <a mat-button routerLink="/gotra">Gotra</a>
  <a mat-button routerLink="/activities">Activities</a>
  <a mat-button routerLink="/helpline">Helpline</a>
  <a mat-button routerLink="/members">Members</a>
  <a mat-button [matMenuTriggerFor]="execMenu">Executive Committee</a>
  <a mat-button routerLink="/personalities">Agarwal Personalities</a>
  <a mat-button routerLink="/contact">Contact Us</a>
</mat-toolbar>

<!-- Example dropdown menus -->
<mat-menu #aboutMenu="matMenu">
  <button mat-menu-item routerLink="/about/history">History</button>
  <button mat-menu-item routerLink="/about/vision">Vision</button>
</mat-menu>

<mat-menu #execMenu="matMenu">
  <button mat-menu-item routerLink="/executive/president">President</button>
  <button mat-menu-item routerLink="/executive/members">Members</button>
</mat-menu>
