.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
table thead th{ border-top:none !important; color: #000 !important;
    font-size:16px !important;
}

.basic-detail-table tbody tr td,th{
    border: 1px solid #dee2e6 !important;
}

.basic-detail-table thead tr th{
    border: 1px solid #dee2e6 !important;
    color:#fff !important;
    background-color: #304093;
}

.pay-slip-table tbody tr td,th{
    border: 1px solid #dee2e6 !important;
}

.pay-slip-table thead tr th{
    border: 1px solid #dee2e6 !important;
}

table tbody tr td:empty{
    padding: 1.25rem 0.5rem !important;
}
.additinal-text{
    display: flex;
    flex-direction: column;
    width:100%
}
.table-cell{
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
}

.life-certificate-card{
    background-color: #dadbe0 !important;
    border-radius: 0px;
}

.text-green{
    color:#22b322;
}

.custom-btn{
    background-color: #304093 !important;
    color: #fff;
}
.financial_year_table table tr th, .financial_year_table table tr td{ padding:8px 2px; font-size: 15px !important;}