
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-lg-9">
            <mat-card class="mt-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-8">
                                <mat-label class="fs-6 d-block fw-bold mb-4">Request ID <a href="#">00002435</a></mat-label>
                            </div>
                            <div class="col-lg-4 text-end">
                                <button mat-flat-button class="bg_yellow color_yellow">Current Status - Pending</button>
                            </div>
                        </div>
                        <hr>

                        <div class="chat_box_main ">
                            <div class="chat_box d-flax">
                                <div class="user_img d-inline">
                                    <img src="../../../assets/images/userphoto.jpg">
                                </div>

                                <div class="chatbox_main">
                                    <div class="chatbox bg-light p-3 fs-7 rounded">
                                        <h6 class="fw-bold mb-0">Rajshekhar Shrinathan</h6>
                                        <span>17/01/2023, 5:30PM</span>
                                        <p class="mb-0">Personal Information : Changes in the bank details</p>
                                    </div>

                                    <div class="chatbox bg-light p-3 fs-7 rounded mt-1">
                                        <h6 class="fw-bold mb-0">Rajshekhar Shrinathan</h6>
                                        <span>17/01/2023, 5:30PM</span>
                                        <p class="mb-0">Personal Information : Changes in the bank details</p>
                                    </div>

                                    <div class="chatbox bg-light p-3 fs-7 rounded mt-1">
                                        <h6 class="fw-bold mb-0">Rajshekhar Shrinathan</h6>
                                        <span>17/01/2023, 5:30PM</span>
                                        <p class="mb-0">Personal Information : Changes in the bank details</p>
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <hr>

                            <div class="date">
                                <p>15/05/2023</p>                                
                            </div>

                            <div class="chat_box chat_box_r d-flax">
                                

                                <div class="chatbox_main">
                                    <div class="chatbox bg-light p-3 fs-7 rounded">
                                        <h6 class="fw-bold mb-0">Rajshekhar Shrinathan</h6>
                                        <span>17/01/2023, 5:30PM</span>
                                        <p class="mb-0">Personal Information : Changes in the bank details</p>
                                    </div>

                                    <div class="chatbox bg-light p-3 fs-7 rounded mt-1">
                                        <h6 class="fw-bold mb-0">Rajshekhar Shrinathan</h6>
                                        <span>17/01/2023, 5:30PM</span>
                                        <p class="mb-0">Personal Information : Changes in the bank details</p>
                                    </div>

                                    <div class="chatbox bg-light p-3 fs-7 rounded mt-1">
                                        <h6 class="fw-bold mb-0">Rajshekhar Shrinathan</h6>
                                        <span>17/01/2023, 5:30PM</span>
                                        <p class="mb-0">Personal Information : Changes in the bank details</p>
                                    </div>

                                </div>

                                <div class="user_imgl d-inline">
                                    <img src="../../../assets/images/userphoto.jpg">
                                </div>

                            </div>

                            
                        </div>
                        <div class="teaxarea_height">
                            <mat-form-field class="w-100 mt-3" appearance="outline">
                                <mat-label>Autosize textarea</mat-label>
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="file-uploder-container d-flex flex-column">
                            <label for="inputGroupFile" class="upload-lable-text"><img src="../../../assets/images/add_attachments.svg"> Add attachments <span class="file-browse"> *Max 10MB </span></label>
                            <div class="input-group custom-file-button">
                                <input type="file" class="form-control file-upload-input hidden" id="inputGroupFile" hidden>
                            </div>
                        </div>

                        <div class="bottom_btn text-end">
                            <button mat-raised-button class="mx-3">Save as Draft</button>
                            <button mat-raised-button color="primary">Send</button>
                        </div>

                    </div>
        
                    
        
        
                </div>
            </mat-card>
        </div>

        <div class="col-lg-3">

            <mat-card class="mt-0">
                <div class="row mt-4">                    
        
                    <div class="col-lg-12">
        
                        <mat-label class="fs-7 d-block mb-4 bg-blue text-white p-3 rounded-top">Agent working on the incident Rajshekhar Shrinathan</mat-label>
        
                        
        
        
                        <div class="bg-light p-3 fs-7">
                            <h6 class="fw-bold">Description</h6>
                            <p>Changes in the bank details Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <p class="mb-0">Updated</p>
                            <p>17/01/2023, 12:47 PM</p>

                            <h6 class="fw-bold mb-0">Number</h6>
                            <p>#785454</p>        

                            <h6 class="fw-bold mb-0">Category</h6>
                            <p>Lorem Ipsum</p>

                            <h6 class="fw-bold mb-0">Created</h6>
                            <p>11/01/2023, 12:47 PM</p>
        
                        </div>

                        <h6 class="fw-bold mb-0 py-3">File attached</h6>

                        <div class="row">
                            <div class="col-6">
                                <div class="bg-light p-3 fs-7 rounded">
                                    <img class="img-fluid img-thumbnail mb-2" src="../../../assets/images/paper.png">
                                    <h6 class="fw-bold mb-0" style="font-size:10px;">Screenshot 124646.png</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="bg-light p-3 fs-7 rounded">
                                    <img class="img-fluid img-thumbnail mb-2" src="../../../assets/images/paper.png">
                                    <h6 class="fw-bold mb-0" style="font-size:10px;">Screenshot 124646.png</h6>
                                </div>

                            </div>
                        </div>

                        
        
        
        
                    </div>
        
        
                </div>
            </mat-card>

        </div>
    </div>
<!-- 
    <div class="row mt-4">
        <div class="col-lg-4 ">
            <mat-card>
                <div class="row">
                    <mat-label class="fs-6 d-block fw-bold mb-4">Raise New</mat-label> 
                    
                    <section class="example-section">
                        <mat-radio-group>
                          <mat-radio-button class="example-margin me-3" value="after">Request</mat-radio-button>
                          <mat-radio-button class="example-margin" value="before">Grievances</mat-radio-button>
                        </mat-radio-group>
                    </section>
                    <div class="col-lg-12">

                        <div class="overview my-3 p-3">
                            <div class="">
                            <h3>Request Overview</h3>
                                <div class="col-lg-12">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <select matNativeControl required>
                                        <option value="Selec">Selec Type</option>
                                        <option value="Sub">Sub Type</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-12">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <select matNativeControl required>
                                        <option value="Selec">Selec Type</option>
                                        <option value="Sub">Sub Type</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                                <button mat-raised-button color="primary" class="btn w-100">Raise Request</button>

                            </div>
                        </div>
                    
                        <div class="status p-3">
                            <div class="">
                            <h3>Request Status</h3>
                                <div class="col-lg-12">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Search Something</mat-label>                            
                                        <input type="text" matInput placeholder="Type something..">
                                        <mat-icon matPrefix>search</mat-icon>
                                    </mat-form-field>
                                </div>

                                <button mat-raised-button color="primary" class="btn w-100">View Status</button>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </mat-card>
        </div>
        <div class="col-lg-8">
            <mat-card>
                <div class="row">
                    <div class="col-lg-8">
                        <mat-label class="fs-6 d-block fw-bold mb-4">My Requests</mat-label>
                    </div>
                    <div class="col-lg-4 text-end">
                        <a href="#">My Requests</a>
                    </div>
                </div>

                <button mat-stroked-button class="rounded-pill">All Requests</button>
                <button mat-stroked-button class="rounded-pill mx-2">Rejected Requests</button>
                <button mat-stroked-button class="rounded-pill mx-2">Pending Requests</button>
                <button mat-stroked-button class="rounded-pill">Approved Requests</button>

                <mat-form-field class="float-end">
                    <mat-label>Search Something</mat-label>
                    <input type="text" matInput placeholder="Type something..">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </mat-card>
        </div>
    </div> -->

    

</div>
