<div class="container-fluid  mb-5">
  <div class="row w-100" style="overflow: auto;">
    <div class="col-12">
      <mat-card>
        <div class="bootstrap-tab-design">

          <div class="first-pension-container" id="first-pension">
            <mat-tab-group animationDuration="0ms" color="primary" class="first-pension-tabs mt-4"
              animationDuration="500ms" (selectedTabChange)="onTabMainChanged($event)"  >
             
              <mat-tab label="Pension File Status">
                <div class="tab-container mt-4">
                  <div class="first-pension-tabs-container">
                    <div class="first-pension-tab-btns d-flex align-items-center">

                    </div>
                    <div class="tab-content">
                      <div class="container-fluid p-2 pb-0 pt-3" style="background-color: #edf2fa;">
                        <div class="tab-filter-option-container">
                          <div class="col-12">

                            <div class="row justify-content-center w-100 ">
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2 gx-1 mx-2 mt-2 ">
                                <h3>Find Pensioner</h3>
                              </div>

                              <div
                                class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 gx-1 mx-2 col-xl-offset-3">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Employee Code</mat-label>
                                  <input matInput placeholder="Employee Code" [(ngModel)]="empCode" #input
                                    oninput="this.value = this.value.toUpperCase()" [disabled]="true"/>
                                </mat-form-field>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-1 col-xxl-1 gx-1 ">
                                <!-- <button mat-raised-button color="primary" type="submit" 
                                  (click)="filterData('pension-status')">
                                  Find Status
                                </button> -->
                              </div>
                             
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2 gx-1 ">
                                <button mat-stroked-button
                                color="primary" type="button" 
                                  (click)="notIni()">
                                  Not Workflow Initiate yet
                                </button>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-1 col-xxl-1 gx-1 ">
                                <button mat-stroked-button
                                color="primary" type="button" 
                                  (click)="billDetails2()">
                                 GPO/CPO Bill Details
                                </button>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2 gx-1 text-end">
                                <button mat-stroked-button
                                color="primary" type="button" 
                                  (click)="common.getAllPensionKit(1,empCode)">
                                 All Pension Kit
                                </button>
                              </div>
                            </div>
                            <div class="row w-100">
                              <div class="col-lg-2 mt-0 ">
                                <h4 class="fs-6">Employee Name:</h4>
                              </div>
                              <div class="col-lg-4">
                                <span class="fs-6">{{employeeData?.employeeName}}</span>
                              </div>
                              <div class="col-lg-2 mt-0 ">
                                <h4 class="fs-6">Department:</h4>
                              </div>
                              <div class="col-lg-4">
                                <span class="fs-6">{{employeeData?.departmentName}}</span>
                              </div>
                              <div class="col-lg-2 mt-0">
                                <h4 class="fs-6">Office:</h4>
                              </div>
                              <div class="col-lg-4">
                                <span class="fs-6">{{employeeData?.officeName}}</span>
                              </div>
                              <div class="col-lg-2 mt-0">
                                <h4 class="fs-6">Office Id:</h4>
                              </div>
                              <div class="col-lg-4">
                                <span class="fs-6">{{employeeData?.officeId}}</span>
                              </div>
                              <div class="col-lg-2 mt-0">
                                <h4 class="fs-6">Designation:</h4>
                              </div>
                              <div class="col-lg-4">
                                <span class="fs-6">{{employeeData?.currentDesignationName}}</span>
                              </div>
                              <div class="col-lg-2 mt-0">
                                <h4 class="fs-6">DOR:</h4>
                              </div>
                              <div class="col-lg-4">
                                <span class="fs-6">{{employeeData?.dor }}</span>
                              </div>
                            
                            
                            </div>
                          </div>

                        </div>
                      </div>
                      <hr>
                    
                      <h3 *ngIf="!isDetails && !isNotInitaite && !isBillDetails">Pension Workflow Status:(Current Pension Kit: <mat-icon style="color: rgb(139, 185, 245);" (click)="common.Previewbydocid(currentPensionKit,'')" *ngIf="currentPensionKit!='0' ">remove_red_eye</mat-icon> )</h3>
                      <div class="mb-5" style="overflow: auto;" *ngIf="!isDetails && !isNotInitaite && !isBillDetails">
                        <table class="arrear_status" mat-table mat-column-gap="2" [dataSource]="pensionDataSource" matSort class="w-100">
                          <ng-container matColumnDef="requestId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Id</th>
                            <td mat-cell *matCellDef="let row"> {{row.requestId}} </td>
                          </ng-container>
                          
                
                            <ng-container matColumnDef="reqDesc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Process Name</th>
                            <td mat-cell *matCellDef="let row">{{row.reqDesc}}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="pendingAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pending At</th>
                            <td mat-cell *matCellDef="let row">{{row.pendingAt?row.pendingAt:"N/A"}}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="forwardedBy">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Sended By</th>
                            <td mat-cell *matCellDef="let row">{{row.forwardedBy}}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                            <td mat-cell *matCellDef="let row">{{row.status}}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="remarks">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
                            <td mat-cell *matCellDef="let row">{{row.remarks}}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="createdDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
                            <td mat-cell *matCellDef="let row">
                              {{row.createdDate}}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="View">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>View Details</th>
                            <td mat-cell *matCellDef="let row">
                              <mat-icon style="color: rgb(139, 185, 245);" (click)="getDetailsByRequestId(row.requestId)" >remove_red_eye</mat-icon> 
                            </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="objection">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>View Objection</th>
                            <td mat-cell *matCellDef="let row">
                              <!-- <mat-icon style="color: rgb(139, 185, 245);" (click)="common.getObjection(row)" >remove_red_eye</mat-icon>  -->
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="pensionDisplayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: pensionDisplayedColumns;"
                            class="{{'mat_row2'}}"></tr>
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">Pension not initiated yet</td>
                          </tr>
                        </table>

                        <!-- <mat-paginator #pensionNew [pageSizeOptions]="[5, 10, 25, 100]"    aria-label="Select page of users">
                        </mat-paginator> -->
                      </div>
                      <hr>
                      <div *ngIf="isDetails">
                        <img src="assets/images/left-arrow.svg" (click)="reset()">
                   
                        <div class="mb-5" style="overflow: auto;">
                          <table class="arrear_status" mat-table mat-column-gap="2" [dataSource]="pensionViewDataSource" matSort class="w-100">
                            <ng-container matColumnDef="taskTransId">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Trans Id</th>
                              <td mat-cell *matCellDef="let row"> {{row.taskTransId}} </td>
                            </ng-container>
                            <ng-container matColumnDef="requestId">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Id</th>
                              <td mat-cell *matCellDef="let row"> {{row.requestId}} </td>
                            </ng-container>
                              <ng-container matColumnDef="roleName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</th>
                              <td mat-cell *matCellDef="let row">{{row.roleName}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="actionTakenBy">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action Taken By</th>
                              <td mat-cell *matCellDef="let row">{{row.actionTakenBy?row.actionTakenBy:"N/A"}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="actionTaken">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                              <td mat-cell *matCellDef="let row">
                                {{row.actionTaken=='ARV'?"Approved":''}}
                              {{row.actionTaken=='FWD'?"Forwarded":''}}
                              {{row.actionTaken=='REV'?"Revert":''}}
                              {{row.actionTaken=='REJ'?"Rejected":''}}
                              {{row.actionTaken=='CMP'?"Completed":''}}
                              {{row.actionTaken=='CRE'?"Forwarded":''}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="remarks">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
                              <td mat-cell *matCellDef="let row">{{row.remarks}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="createdDate">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
                              <td mat-cell *matCellDef="let row">{{row.createdDate}}
                              </td>
                            </ng-container>
                        
                           
                            
                           
                            <tr mat-header-row *matHeaderRowDef="pensionviewDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: pensionviewDisplayedColumns;"
                              class="{{'mat_row2'}}"></tr>
                            <tr class="mat-row" *matNoDataRow>
                              <td class="mat-cell" colspan="4"></td>
                            </tr>
                          </table>
  
                          <mat-paginator #pensionNewView [pageSizeOptions]="[5, 10, 25, 100]"    aria-label="Select page of users">
                          </mat-paginator>
                        </div>
                      </div>                 
                      <div *ngIf="isNotInitaite">
                       
                   <div class="row">
                    <div class="col-2">
                      <img src="assets/images/left-arrow.svg" (click)="reset()">
                    </div>
                    <div class="col-6">
                      <mat-form-field class="example-full-width font-12 font-weight-600 text-dark w-100" appearance="outline" >
                        <mat-select class="py-5p" matNativeControl    placeholder="You have"  [(ngModel)]="requestType" (selectionChange)="notInitiateYet()">
                          <mat-option value="1">Family Pension(FP Present)(Death after retirement)</mat-option>
                          <mat-option value="2">Notional Increment</mat-option>
                          <mat-option value="3">GPO Arrear</mat-option>
                          <mat-option value="4">Family Pension(Death in Service)</mat-option>
                          <mat-option value="5">E-Pension/Rivision</mat-option>
                      </mat-select>
                      </mat-form-field> 
                    </div>
                    <div class="col-4">
                      
                    </div>
                   </div>
                        <div class="mb-5" style="overflow: auto;">
                          <table class="arrear_status" mat-table mat-column-gap="2" [dataSource]="pensionNotIniDataSource" matSort class="w-100">
                            <ng-container matColumnDef="ssoId">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>SSO ID</th>
                              <td mat-cell *matCellDef="let row"> {{row.ssoId}} </td>
                            </ng-container>
                            <ng-container matColumnDef="displayName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                              <td mat-cell *matCellDef="let row"> {{row.displayName}} </td>
                            </ng-container>
                              <ng-container matColumnDef="taskRoleName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</th>
                              <td mat-cell *matCellDef="let row">{{row.taskRoleName}}
                              </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsNotIni"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsNotIni;"
                              class="{{'mat_row2'}}"></tr>
                            <tr class="mat-row" *matNoDataRow>
                              <td class="mat-cell" colspan="4"></td>
                            </tr>
                          </table>
  
                          <!-- <mat-paginator #pensionNewIni [pageSizeOptions]="[5, 10, 25, 100]"    aria-label="Select page of users">
                          </mat-paginator> -->
                        </div>
                      </div>   
                      <div *ngIf="isBillDetails">
                        <img src="assets/images/left-arrow.svg" (click)="reset()">
                   
                        <div class="mb-5" style="overflow: auto;">
                          <h2 class="other_heading">GPO/CPO Bill Details</h2>
                          <table class="table" style="margin: 0; padding: 0; overflow: hidden; border: 0;" >
                            <thead>
                              <tr>
                                <th>Ref.No</th>
                                <th>Bill.No</th>
                                <th>Sanction No</th>
                                 <th>Bill Sub Type</th>
                                <th>Bill Date</th>
                                <th>Bill Create Date</th> 
                                <th>Gross Amount</th>
                                <th>Net Amount</th>
                                <th>UTR No.</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let field of billRecord;let i=index" >
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==2">{{field.refNo}}</td>    
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==2">{{field.billNo}}</td>         
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==2">{{field.sanctionNo}}</td>
                                 <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==2">{{field.billSubType==4?"CPO":field.billSubType==2?"GPO":""}}</td>
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==2">{{field.billDate |date}}</td>
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==2">{{field.createdDt |date}}</td>         
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==2">₹ {{field.grossAmt}}</td>
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==2">₹ {{field.netAmt}}</td>
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==2">{{field.utrNo}}</td>
                              </tr>
                              <tr *ngFor="let field of billRecord;let i=index" >
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==3 ">{{field.refNo}}</td>    
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==3 ">{{field.billNo}}</td>         
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==3 ">{{field.sanctionNo}}</td>
                                 <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==3 ">{{field.billSubType==3?"CPO":field.billSubType==3?"GPO":""}}</td>
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==3 ">{{field.billDate |date}}</td>
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==3 ">{{field.createdDt |date}}</td>         
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==3 ">₹ {{field.grossAmt}}</td>
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==3 ">₹ {{field.netAmt}}</td>
                                <td  class="pt-4" *ngIf="field.isActive=='Y' && field.billSubType==3 ">{{field.utrNo}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </mat-tab>

            </mat-tab-group>
           
          </div>

        </div>
      </mat-card>
    </div>
  </div>
</div>