
<div class="container-fluid" style="min-height: 70vh;">
    <div class="content-wrapper">

        <div class="row">

            <div class="col-md-12 text-end">
                <input type="button" value="Download Identity Card" class="btn btn-sm btn-primary pull-right mb-2"
                    (click)="openPDF()" />
            </div>

            <div class="col-lg-12 p-2">
                <div class="row">
                    <div class="mat-tab mx-0 ">
                        <mat-card-content>
                            <section class="content">
                                <mat-card class="col-lg-6 offset-3 dot-border bg-white p-0" id="htmlData">
                                    <div class="row bg-white mt-2 w-100" style="margin-left:0;">
                                        <div class="text-center">
                                            <img src="assets/images/PensionersWelfareDept.png" />
                                        </div>
                                        <div class="col-lg-12 col-md-9 col-sm-8 col-12 mb-2 text-center">
                                            <label class="h4 fw-bold details" style="color:#000">Pensioner's Identity Card</label>
                                        </div>
                                    </div>
                                    <div class="row fw-bold heading-bold bg-white w-100" style="margin-left:0;">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-0">
                                            <img [src]="imageUrl"
                                                style="width:200px !important;height:200px !important;"
                                                class="img-thumbnail" />
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-8 col-12 mb-1 ">
                                            <div class="row ">
                                                <div class="col-lg-4">
                                                    <label class="details">Name </label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="details">: &nbsp;{{pensionerDetails[0]['employeeName'] ?
                                                        pensionerDetails[0]['employeeName'] : ''}}</label>
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-lg-4">
                                                    <label class="details">Designation </label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="details">: &nbsp;{{pensionerDetails[0]['currentDesignation'] ?
                                                        pensionerDetails[0]['currentDesignation'] : ''}}</label>
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-lg-4">
                                                    <label class="details">Service Category</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="details">: &nbsp;{{pensionerDetails[0]['categoryOfEmployee'] ?
                                                        pensionerDetails[0]['categoryOfEmployee'] : ''}}</label>
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-lg-4">
                                                    <label class="details">Department </label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="details">: &nbsp;{{pensionerDetails[0]['currentDepartment'] ?
                                                        pensionerDetails[0]['currentDepartment'] : ''}}</label>
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-lg-4">
                                                    <label class="details">Date of Birth </label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="details">: &nbsp;{{pensionerDetails[0]['dateOfBirth'] ?
                                                        pensionerDetails[0]['dateOfBirth'] : ''}}</label>
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-lg-4">
                                                    <label class="details">P.P.O. No. </label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="details">: &nbsp;{{pensionerDetails[0]['ppoNo'] ?
                                                        pensionerDetails[0]['ppoNo'] : ''}}</label>
                                                </div>
                                            </div>
                                           

                                            <div class="row mt-2">
                                                <div class="col-lg-4">
                                                    <label class="details">Address</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="details">: &nbsp;{{pensionerDetails[0]['permanentAddress'] ?
                                                        pensionerDetails[0]['permanentAddress'] : ''}}</label>
                                                         
                                                       
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row fw-bold heading-bold bg-white mb-2 w-100" style="margin-left:0;">
                                        <div class="col-lg-9 mb-3 text-center">
                                            <label class="mt-5 p-3" style="font-size: 18px !important; border:2px solid #f00;"> Valid From : <span class="d-block">{{pensionerDetails[0]?.ppoNo ? (pensionerDetails[0]?.dateofcommencement | date:'dd-MM-yyyy') : ''}}</span></label>
                                        </div>
 
                                        <div class="col-lg-3 mb-0 text-center barcode_outer">
                                           
                                            <qrcode [qrdata]="qrCode" 
                                                [allowEmptyString]="true"
                                                [ariaLabel]="'QR Code image with the following content...'"
                                                [cssClass]="'center'" [colorDark]="'#000000ff'"
                                                [colorLight]="'#ffffffff'" [elementType]="'canvas' || 'url' || 'image' "
                                                [errorCorrectionLevel]="'M'" [margin]="2" [scale]="1"
                                                [title]="'Identity Card QR Code'" [width]="100">
                                            </qrcode>
                                        </div>
                                    </div>
                                </mat-card>
                            </section>
                        </mat-card-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- <div class="container-fluid ">
    <div class="content-wrapper">
        <div class="row w-100">
            <div class="col-12 text-end">
                <input type="button" value="Download Identity Card" class="btn btn-sm btn-primary mb-2" (click)="openPDF()" />
            </div>
            <div class="col-12 p-2">
                <div class="row p-4">
                    <div class="mat-tab mx-0">
                        <mat-card-content>
                            <section class="content">
                                <mat-card class="responsive-card dot-border bg-white p-0" id="htmlData">
                                    <div class="row bg-white mt-2 w-100">
                                        <div class="text-center col-12">
                                            <img src="assets/images/PensionersWelfareDept.png" class="responsive-logo" alt="Pensioners Welfare Department Logo" />
                                        </div>
                                        <div class="col-12 mb-2 text-center">
                                            <label class="h4 fw-bold details" style="color:#000">Pensioner's Identity Card</label>
                                        </div>
                                    </div>
                                    <div class="row fw-bold heading-bold bg-white w-100">
                                        <div class="col-12 col-md-4 text-center">
                                            <img [src]="imageUrl" class="img-thumbnail responsive-thumbnail" alt="Pensioner Image" />
                                        </div>
                                        <div class="col-12 col-md-8">
                                         
                                        </div>
                                    </div>
                                    <div class="row fw-bold heading-bold bg-white mb-2 w-100">
                                        <div class="col-12 col-md-9 mb-3 text-center">
                                            <label class="valid-from-label">
                                                Valid From: <span>{{pensionerDetails[0]?.ppoNo ? (pensionerDetails[0]?.dateofcommencement | date:'dd-MM-yyyy') : ''}}</span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-3 mb-0 text-center">
                                            <qrcode [qrdata]="qrCode" 
                                                [allowEmptyString]="true" 
                                                [cssClass]="'center'" [width]="100">
                                            </qrcode>
                                        </div>
                                    </div>
                                </mat-card>
                            </section>
                        </mat-card-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
