<div class="aligner">
    <div class="chatbot-toggler">
        <img src="./assets/images/chatBot/primary-bg-bot.svg" width="50px">
    </div>
    <div class="drag-handler" cdkDrag cdkDragHandle cdkDragRootElement=".aligner"></div>

    <div class="chatbot">
        <header class="chatbot-header">
            <div class="d-flex align-items-center justify-content-between p-3">
                <div class="main-menu-button bot-blue-icon d-flex justify-content-center" cdkDrag cdkDragHandle cdkDragRootElement=".aligner">
                    <img src="./assets/images/chatBot/whit-bg-bot.svg" width="20px">
                </div>
                <p class="m-0 heading-2">ASK - IFMS AI ChatBot</p>
                <div class="close-btn material-symbols-outlined cursor-pointer" (click)="closeChatbot()">
                    <mat-icon>close</mat-icon>
                </div>
            </div>
        </header>
        <div id="lang-tab" class="tab-container">
            <button class="tab left-tab tab-active f-12" (click)="resetChatbot('English')">English</button>
            <button class="tab right-tab f-12" (click)="resetChatbot('हिंदी')">हिंदी</button>
        </div>
        <div class="chatbox mt-4">
            <!-- All chat messages and buttons will be appended dynamically in this div -->
        </div>
    </div>
</div>
