    <div class="container mw-95">

        <form name="form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div class="row">
                <h3>Menu Master</h3>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <mat-form-field class="w-100">
                        <mat-label>Menu Name</mat-label>
                        <input matInput type="text" name="nameEn" [(ngModel)]='Model.nameEn' #nameEn="ngModel"
                            (keypress)="Allowletterswhitespacesonly($event)" maxlength="50"
                            placeholder="Menu Name" [ngClass]="{ 'is-invalid': f.submitted && nameEn.errors }" required>
                      </mat-form-field>
                      <div *ngIf="f.submitted && nameEn.errors" class="invalid-feedback">
                        <div *ngIf="nameEn.errors['required']">Menu Name is required</div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <mat-form-field class="w-100">
                        <mat-label>मेनू का नाम</mat-label>
                        <input matInput type="text" id='nameHi' name="nameHi" [(ngModel)]='Model.nameHi' #nameHi="ngModel"
                            class="form-control transelem" (keypress)="Allowletterswhitespacesonly($event)"
                            maxlength="50" placeholder="मेनू का नाम" [ngClass]="{ 'is-invalid': f.submitted && nameHi.errors }" required>
                      </mat-form-field>
                      <div *ngIf="f.submitted && nameHi.errors" class="invalid-feedback">
                        <div *ngIf="nameHi.errors['required']">Menu Name (in Hindi) is required</div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <mat-form-field class="w-100">
                        <mat-label>URL</mat-label>
                        <input matInput type="text" name="navigateUrl" [(ngModel)]='Model.navigateUrl' #navigateUrl="ngModel"
                            maxlength="50" placeholder="URL" [ngClass]="{ 'is-invalid': f.submitted && navigateUrl.errors }"  required>
                    </mat-form-field>
                    <div *ngIf="f.submitted && navigateUrl.errors" class="invalid-feedback">
                        <div *ngIf="navigateUrl.errors['required']">Menu Url is required</div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <mat-form-field class="w-100">
                        <mat-label>Icon</mat-label>
                        <input matInput type="text" name="MenuIcon" [(ngModel)]="parentmenu" #MenuIcon="ngModel"
                            maxlength="50" placeholder="Icon" [ngClass]="{ 'is-invalid': f.submitted && MenuIcon.errors }" required>
                    </mat-form-field>
                    <div *ngIf="f.submitted && MenuIcon.errors" class="invalid-feedback">
                        <!-- <div *ngIf="MenuIcon.errors['required']">Menu Icon is required</div> -->
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <mat-form-field class="w-100">
                        <mat-label>Parent Menu</mat-label>
                        <mat-select name="parentId" [(ngModel)]="Model.parentId" #parentId="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && parentId.errors }" required>
                            <mat-option value={{item.menuId}} *ngFor="let item of roleList" >{{item.nameEn}}</mat-option>
                            <!-- <mat-option value="employeeType-1">First option</mat-option>
                            <mat-option value="two">Second option</mat-option> -->
                        </mat-select>    
                    </mat-form-field>
                    <div *ngIf="f.submitted && parentId.errors" class="invalid-feedback">
                        <div *ngIf="parentId.errors['required']">Parent Menu Id is required</div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <mat-form-field class="w-100">
                        <mat-label>Order</mat-label>
                        <mat-select matNativeControl name="orderNo" [(ngModel)]='Model.orderNo' #orderNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && orderNo.errors }" required>
                            <mat-option [value]="0"> Select </mat-option>
                            <mat-option [value]="1"> 1 </mat-option>
                            <mat-option [value]="2"> 2 </mat-option>
                            <mat-option [value]="3"> 3 </mat-option>
                            <mat-option [value]="4"> 4 </mat-option>
                            <mat-option [value]="5"> 5 </mat-option>
                            <mat-option [value]="6"> 6 </mat-option>
                            <mat-option [value]="7"> 7 </mat-option>
                            <mat-option [value]="8"> 8 </mat-option>
                            <mat-option [value]="9"> 9 </mat-option>
                            <mat-option [value]="10"> 10 </mat-option>
                            <mat-option [value]="11"> 11 </mat-option>
                            <mat-option [value]="12"> 12 </mat-option>
                            <mat-option [value]="13"> 13 </mat-option>
                            <mat-option [value]="14"> 14 </mat-option>
                            <mat-option [value]="15"> 15 </mat-option>
                            <mat-option [value]="16"> 16 </mat-option>
                            <mat-option [value]="17"> 17 </mat-option>
                            <mat-option [value]="18"> 18 </mat-option>
                            <mat-option [value]="19"> 19 </mat-option>
                            <mat-option [value]="20"> 20 </mat-option>
                            <mat-option [value]="21"> 21 </mat-option>
                            <mat-option [value]="22"> 22 </mat-option>
                        </mat-select>    
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                    <div *ngIf="f.submitted && orderNo.errors" class="invalid-feedback">
                        <div *ngIf="orderNo.errors['required']">orderNo is required</div>
                    </div>
                </div>
                <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5"> -->
                    <!-- <mat-checkbox color="primary" value="{{sub.ID}}" [(ngModel)]="sub.ISCHECKED"                     
                    [ngModelOptions]="{standalone: true}"></mat-checkbox>	 -->
                    <!-- <mat-checkbox color="primary"></mat-checkbox> -->
                    <!-- <div *ngIf="f.submitted && MenunameEn.errors" class="invalid-feedback">
                        <div *ngIf="MenunameEn.errors['required']">Menu Name is required</div>
                      </div> -->
                <!-- </div> -->
                <div class="row align-item-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                        <div> Status : <mat-slide-toggle color="primary" name="isActive" [(ngModel)]='Model.isActive' #isActive="ngModel">{{Model.isActive}}</mat-slide-toggle></div>
                    </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <div class="float-end">                
                        <button  mat-button mat-dialog-close class="btn btn-outline-cancel" (click)="onClearForm()" mat-stroked-button>Cancel</button>
                        <button class="btn btn-primary  ms-2" mat-raised-button color="primary" type="submit" >Submit</button>
                    </div>
                </div>
                
            </div>
            </div>
        </form>
    </div>