

    <mat-tab-group animationDuration="0ms" color="primary" class="big-btn-padding">
      <mat-tab label="Monthly Pension Treasury">
<div class="container-fluid">
    <div class="content-wrapper">

        <div class="row w-100">

            <div class="col-lg-12 p-2">
                <div class="row w-100">

                    <div class="mat-tab mx-0 ">
                        <mat-card-content>
                            <section class="content">
                                <fieldset class="p-0">

                                    <div>

                                        <mat-card class="card ">
                                            <div class="row">
                                                                                            
                                            <div class="row" *ngIf="psnDtls">
                                              <div class="col-md-6 col-lg-4 mt-3">
                                                <mat-label class="font_text"> Pensioner Name:</mat-label><br>
                                                <span class="font_bold">{{psnDtls?.nameEn}}</span>
                                            </div>
                                            <div class="col-md-6 col-lg-4 mt-3">
                                                <mat-label class="font_text"> Pensioner ID:</mat-label><br>
                                                <span class="font_bold">{{psnDtls?.pensionerId}}</span>
                                            </div>
                                            <div class="col-md-6 col-lg-4 mt-3">
                                              <mat-label class="font_text"> Employee Code:</mat-label><br>
                                              <span class="font_bold">{{psnDtls?.employeeCode}}</span>
                                          </div>
                                          <div class="col-md-6 col-lg-4 mt-3">
                                            <mat-label class="font_text"> PPO No:</mat-label><br>
                                            <span class="font_bold">{{psnDtls?.ppoNo}}</span>
                                        </div>
                                        
                                        <div class="col-md-6 col-lg-4 mt-3">
                                            <mat-label class="font_text"> CURRENT MONTHLY PENSION TREASURY:</mat-label><br>
                                            <span class="font_bold">{{currentTrasuryName}}</span>
                                        </div>
                                      
                                              </div>
                                              
                                             
                                               
                                                    <div class="mat-tab mx-0 " *ngIf=" psnDtls">
                                                        <fieldset class="p-0">
                                                            <div class="row">

                                                                <div
                                                                    class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5 mt-1">
                                                                    <h3 class="mt-3">UPDATE MONTHLY PENSION TREASURY</h3>
                                                                    <mat-form-field class="example-full-width w-100" appearance="outline">
                                                                        <mat-select matNativeControl [(ngModel)]="updateTreasuryCode" #catId    class="py-5p">
                                                                            <mat-option [value]="'0'">--Select--</mat-option>
                                                                                <mat-option *ngFor="let obj of treasurylist" [value]="obj.treasCode">{{obj.treasNameEn}} ({{obj.treasCode}})</mat-option>
                                                                         </mat-select>
                                                                    </mat-form-field>
                                                                </div>
                                                                <h3 class="mt-4">Document</h3>
                                                                <div class="col-12 col-sm-6 col-md-6 col-xl-4 file-uploder-container mt-4" *ngIf=" docId==null">
                                                                    <div class="d-flex flex-column mt-1">
                                                                        <div class="upload-lable-text btn">
                                                                            <label for="inputGroupFile2">Drag & drop or <span class="file-browse">
                                                                                    browse</span></label>
                                                          
                                                                        </div>
                                                                        <div class="input-group custom-file-button">
                                                                            <input type="file" class="form-control file-upload-input hidden"
                                                                            id="inputGroupFile2" hidden multiple="true" (change)="uploadFile($event)"
                                                                            >
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-sm-6 col-md-6 col-xl-4 file-uploder-container mt-4" *ngIf=" docId>1">
                                                                  <mat-icon style="color: rgb(139, 185, 245);" (click)="common.Previewbydocid(docId,'');">remove_red_eye</mat-icon>
                                                                  <mat-icon style="color: rgb(139, 185, 245);" (click)="removeDoc()">delete</mat-icon>
                                                              </div>
                                                              
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                    <div class="col-lg-12 text-end">
                                                        <div class="row" style="color:#231e60;margin-left:1%;">
                                                          <div class="col-12 col-sm-12 mt-3 ">
                            
                                                            <!-- <button mat-raised-button color="primary" class="mx-1" 
                                                              aria-label="Example icon button with a plus one icon" [disabled]="updateTreasuryCode==treasuryCode" (click)="submit()"  >
                                                              Submit
                                                            </button> -->
                                                            <!-- [disabled]="groupMasterFrom.invalid  -->
                                                          </div>
                            
                                                        </div>
                            
                                                      </div>


                                             

                                            </div>
                                        </mat-card>
                                    </div>

                                </fieldset>
                            </section>
                        </mat-card-content>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
      </mat-tab>
    </mat-tab-group>

