<mat-card class="p-4 shadow-md rounded-xl max-w-lg mx-auto">
  <mat-card-title>

    <mat-card class="event-heading">
      <div class="event-text">
        <span class="">{{ editId ? 'Update Gallery' : 'Add New Gallery' }}</span>
      </div>

    </mat-card>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="galleryForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Gallery Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter gallery name">
        <mat-error *ngIf="galleryForm.get('name')?.hasError('required')">
          Gallery name is required
        </mat-error>
      </mat-form-field>


      <div class="image-container">
        <!-- Existing images -->
        <div class="image-box" *ngFor="let img of images; let i = index">
          <img [src]="img.url" alt="preview">
          <button mat-icon-button color="warn" class="remove-btn" (click)="removeImage(i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <!-- Add new images button -->
        <div class="image-box add-box">
          <input type="file" multiple accept="image/*" hidden #fileInput (change)="onFilesSelected($event)">
          <button mat-icon-button color="primary" (click)="fileInput.click()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>


      <button mat-raised-button color="primary" type="submit" *ngIf="images.length > 0" class="mt-4">
        {{ editId ? 'Update' : 'Save' }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
