.overview-advance-card{
    background-color: #F2F7FF;
    border: 1px solid #BED0EF;
}

.need-help-card{
    background-color: #F4F4FF;
    border: 1px solid #D0D0F8;
}

.track-advance-card{
    background-color: #FFFBF3;
    border: 1px solid #FFDDA5;
}

.need-help-content{
    border-radius: 5px;
    box-shadow: 3px 3px 6px #00000029;
    img{
        width: 40px;
    }
}

::ng-deep .search-input-track{
    .mat-form-field-appearance-fill .mat-form-field-flex{
        background-color: #fdeed3;
        padding: 0em 0.75em;
        border-radius: 4px;
        align-items: center;
    }

    mat-form-field.mat-form-field.mat-form-field-appearance-fill>div.mat-form-field-wrapper{
        padding: 0px;
    }
    
    .mat-form-field-underline{
        display: none;
    }

    mat-form-field.mat-form-field.mat-form-field-appearance-fill>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix>span.mat-form-field-label-wrapper {
        top: -1.5em;
    }

    .mat-form-field.mat-form-field.mat-form-field-appearance-fill>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix {
        padding: 0em 0em 0.4em 0px !important;
        border-top: 0.64375em solid transparent;
    
        .mat-input-element{
            font-size: 14px;
            font-family: 'Poppins-m';
        }
    }
}

::ng-deep .date-range-container{
    .mat-form-field-appearance-fill .mat-form-field-flex{
        align-items: center;
    }

    .mat-form-field.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix {
        padding: 0em 0em 0.4em 0px !important;
        border-top: 0.64375em solid transparent;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #D0D9E5;
    }
}

.point-one, .point-two{
    position: relative;
}

.point-one::before{
    content: '';
    height: 12px;
    width: 12px;
    background-color: #52BB9C;
    position: absolute;
    top: 4px;
    left: -16px;
    border-radius: 2px;
}

.point-two::before{
    content: '';
    height: 12px;
    width: 12px;
    background-color: #F5C779;
    position: absolute;
    top: 4px;
    left: -16px;
    border-radius: 2px;
}

.action{
    border: 2px solid #BED0EF;
    border-radius: 4px;
}

.action-icon img{
    width: 40px;
}



// -------------------------------
// ----------Manish Sir Code------
// -------------------------------
.min-height {
    height: 300px;
    overflow-y: auto;
    padding: 0px;
}

.date-time {
    font-weight: normal;
    font-size: 10px;
    color: #a3aab7;
}

.amount-dabited-text {
    font-size: 10px;
    color: #ff3f4c;
}

.amount-dabited{
    color: #ff3f4c;
}

.amount-cradited-text {
    font-size: 10px;
    color: #00BE9A;
}

.amount-cradited {
    color: #00BE9A;
}

.tran_type {
    background-color: #ffffff;
    position: relative;
    display: block;
    width: fit-content;
    padding: 5px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    color: #d1caca;
    margin-top: -30px;
}


@media (max-width: 575.98px) { 
.amount-container
{
    display: flex;
}
 }
