<div class="main-container bg-white">

    <div class="banner-section-container">
        <div
            class="container-fluid banner-img-container d-flex justify-content-center justify-content-md-start align-items-center">
            <div class="text-white text-center text-md-start m-0 p-0 ms-md-4 ps-md-4">
                <p class="heading-1 bold-font">User Manuals</p>
                <!-- <p class="subtitle-1 lh-lg">User Manuals One</p> -->
            </div>
        </div>
    </div>
    
    
        <div class="text-center my-5">
            <p class="heading-1 bold-font">User Manuals</p>
            
        </div>
        
        <div class="container imp-downloads-container my-5 mb-5 pb-5">
            <div class="row">
                <!-- <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none" href="https://finance.rajasthan.gov.in/PDFDOCS/GT/12507.pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Earned Salary Advance Drawal Access Scheme for Government of Rajasthan</p>
                        </mat-card>
                    </a>
                </div> -->
<!-- 
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none" href="assets/files/UserManual-Pension-ESS(IFMS 3.0).pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Pension-ESS</p>
                        </mat-card>
                    </a>
                </div> 
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none"
                        href="assets/files/UserManual-Pension-HoO-HoD-AD(IFMS 3.0).pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Pension HoO HoD AD</p>
                        </mat-card>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none"
                        href="assets/files/UserManual-Zonal-Pension-Office(IFMS 3.0).pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Zonal Pension Office</p>
                        </mat-card>
                    </a>
                </div> 
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none"
                        href="assets/files/UserManual-Pension-Single-DDO(IFMS 3.0).pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Pension Single DDO User Manual</p>
                        </mat-card>
                    </a>
                </div> 

                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none" href="https://finance.rajasthan.gov.in/PDFDOCS/TA/12509.pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Pension benefits to retired employees on retirement date</p>
                        </mat-card>
                    </a>
                </div>



                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none" href="https://finance.rajasthan.gov.in/docs/budget/statebudget/2023-2024/BudgetSpeech2023-24English.pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Budget 2023-2024 Speech of Honourable Chief Minister</p>
                        </mat-card>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none" href="https://finance.rajasthan.gov.in/docs/budget/statebudget/2023-2024/BudgetSpeech2023-2024.pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Budget Speech 2023-2024</p>
                            <small>(10.02.2023)</small>
                        </mat-card>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none" href="https://finance.rajasthan.gov.in/docs/budget/statebudget/2023-2024/FRBM.pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">FRBM Document</p>
                            <small> </small>
                        </mat-card>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none"
                        href="assets/files/Pension-UserManual-Role Assignment.pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Pension Role Assignment</p>
                        </mat-card>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none"
                        href="assets/files/MarkDE-UserManual_1.0.pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Mark DE User Manual</p>
                        </mat-card>
                    </a>
                </div> -->
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <a class="text-decoration-none"
                        href="assets/files/RevisedCommutationUserManual.pdf" target="_blank">
                        <mat-card class="card-shadow link-card-height">
                            <p class="m-0 bodytext-color subtitle-1">Commutation Request User Manual</p>
                        </mat-card>
                    </a>
                </div>
            </div>
        </div>

        
        
        
        
       
    </div>
