.nav-pills .nav-link:not(.nav-link.active) {
    background-color: #F1F1F1;
    color: #414141;
  }
  
  .nav-pills .nav-link.active {
    background-color: var(--primary);
  }
  
  .pension-tab-btn {
    font-size: 14px;
  }
  
  .tabs-margin>* {
    margin-right: 5px;
  }
  
  .mat-radio-checked {
    color: var(--primary);
  }
  
  .tab-heading {
    border-bottom: 1px solid #D8D8D8;
  }
  
  /* Structure */
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    // width: 15%;
  }
  
  .tab-filter-option-field {
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: var(--primary) !important;
    }
  }
  
  // .table-container {
  //   height: calc(100vh - 656px) !important;
  //   overflow: auto;
  // }
  
  .table-col-padding {
    padding: 0px 10px;
  }
  
  .mat-header-cell {
    border-bottom: 1px solid #5A9CFF;
    font-size: 14px;
    font-weight: 600;
    color: #414141;
    font-family: 'Poppins-m';
    background-color: #EEF5FF; 
  }
  
  .name-with-icon p {
    font-size: 14px;
    font-family: 'poppins-m' !important;
    color: #414141;
  }
  
  .view-pension-kit-link a {
    font-size: 12px;
  }
  
  .first-pension-info-fill-icon {
    color: var(--primary);
    display: block;
  }
  
  .first-pension-container{
    ::ng-deep .mat-tab-label.mat-tab-label-active {
      color: #414141;
      opacity: 1;
      background-color: #2A6DD90D;
    }
    ::ng-deep .mat-tab-label{
      color: #414141;
      opacity: 0.4;
      height: 40px !important;
    }
  }
  
  .info-icon{
    width: 18px;
  }
  
  // Tab Style
  .bootstrap-tab-design {
    ::ng-deep .bootstrap-tab-group>.mat-tab-header>.mat-tab-label-container>.mat-tab-list>.mat-tab-labels>.mat-tab-label {
      color: #414141;
      opacity: 0.4;
      height: 40px !important;
      background-color: #F1F1F1;
      margin-right: 10px;
      border-radius: 5px;
    }
  
    ::ng-deep .bootstrap-tab-group>.mat-tab-header>.mat-tab-label-container>.mat-tab-list>.mat-ink-bar {
      display: none;
    }
  
    ::ng-deep .bootstrap-tab-group>.mat-tab-header {
      border: none;
    }
  
    ::ng-deep .bootstrap-tab-group>.mat-tab-header>.mat-tab-label-container>.mat-tab-list>.mat-tab-labels>.mat-tab-label.mat-tab-label-active {
      color: white;
      opacity: 1;
      background-color: var(--primary);
  
      .mat-tab-label-content {
        font-weight: 500 !important;
      }
    }
  }
  
  
  // ToolTip Code
  .info-icon
  {
    position: relative;
  }
    .info-icon:hover
    {
      .tooltipcontent-component
      {
        display: block;
      }
    }
  
  .tooltipcontent-component {
   display: none;
    background-color: #fff;
      color: #000;
      padding: 5px 0;
      border-radius: 6px;
      text-align: left;
      max-width: 300px;
      min-width: 200px;
      min-height: 10px;
      padding: 10px 12px;
      z-index: 99999;
      box-shadow: 0 0px 16px rgba(0, 0, 0, 0.09), 0 0px 28px rgba(0, 0, 0, 0.09);
      border: 1px solid rgb(224, 224, 224);
  
    &.left {
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-left: 0;
      }
      /* Stroke */
      &:before {
        top: 15px;
        left: -12px;
        /* If 1px darken stroke slightly */
        border-right-color: rgb(224, 224, 224);
        border-width: 12px;
      }
      /* Fill */
      &:after {
        top: 15px;
        left: -11px;
        border-right-color: #fff;
        border-width: 12px;
      }
    }
  }
  
  
  .tab-filter-btn{
    margin-bottom: 10px;
  }
  
  
  // Responsive Style
  
  // ---------------------------------------
  // ----Responsive Style for Table----
  // ---------------------------------------
  @media screen and (min-width: 992px){
    .tab-filter-btn{
      text-align: right;
      margin-bottom: 0px;
    }
  }
  // .mat-cell {
  //   text-align: center;
  // }
  // .mat-header-cell {
  //   text-align: center;
  // }

  // ------------------------------------
// ----------Activity Card Css---------
// ------------------------------------

@mixin acticity-card($color_theme: #FFF4DE) {
  background-color: $color_theme;
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}

@mixin acticity-card-heading($color_theme: #FDDBA1) {
  background-color: $color_theme;
  position: absolute;
  content: '';
  top: -15px;
  left: 20px
}

.activity-card-pending {
  @include acticity-card;

  background-image: url('/assets/images/activity-card-shape-image.svg');

  .activity-status-pending {
      color: #EFA831;
  }
}

.activity-card-pending-heading {
  @include acticity-card-heading;
}

.activity-card-generated {
  @include acticity-card($color_theme: #EDF8F4);

  background-image: url('/assets/images/activity-card-shape-image-generated.svg');

  .activity-status-generated {
      color: #5abea1;
  }
}

.activity-card-generated-heading {
  @include acticity-card-heading($color_theme: #c9eade)
}

// ------------------------------------
// ---------Quick Links Css------------
// ------------------------------------

.height-adjustment {
  height: 192px;
}

.grey-bg {
  background-color: #F8F8F8;
  position: relative;

  .info-img {
      max-height: 45px;
  }
}

.pin img {
  position: absolute;
  top: -10px;
  right: -10px;
}

// ------------------------------------
// -----Updates & Announcements--------
// ------------------------------------

.announcement-card-container {
  background-color: #F8F8F8;
  border-radius: 10px;

  .announcement-heading img {
      width: 20px;
  }

  .announcement-heading:hover {
      color: var(--primary);
  }

  .blue-dot {
      width: 8px !important;
      height: 8px !important;
      border-radius: 50%;
      background-color: var(--primary);
  }

  .close-button{
    padding: 10px;
    color: #1c4a92 !important;
    background: #ccd8ed;
    border-radius: 10%;
  }

  .announcement-date-container img {
      width: 50px;
  }
}

// ---------------------------------------
// -----Employee Management FAQ's---------
// ---------------------------------------

::ng-deep .faq-expension-container{
  .mat-expansion-panel-header, .mat-expanded, .mat-expansion-panel:hover, .mat-expansion-panel-body {
      background: #f4f4ff !important;
  }

  .mat-expansion-panel-header.mat-expanded{
      border-bottom: 1px solid #e3e3fc;
  }
}

// --------------------------------------------
// -----------------Tasks Status---------------
// --------------------------------------------

.task-status-table-container{
  table tr th{
      background-color: #EEF5FF;
      padding: 10px;
      border-bottom: 1px solid var(--primary);
      font-weight: 500;
  }
  
  table tr td{
      padding: 10px;
      border-bottom: 1px solid #E7ECF3;
      font-weight: 600;
  }
  
  .status-number{
      background-color: #FCE87E;
      padding: 2px 6px !important;
      width: 55px;
      height: 25px;
      text-align: center;
      border-radius: 2px;
  }
}

// --------------------------------------------
// -----------------Employee MIS Report---------------
// --------------------------------------------
.emp-mis-cards-container{
  height: 260px;
  overflow: auto;
  img{
      width: 40px;
  }
}
.right_img img{ width:100px !important;}
.success-text{color: #36a30b}



.success {
  color: #23966b;
  font-size: 24px;
  font-weight: 600;
}
.success_subtext {
  font-size: 20px;
}
.reject {
  color: #e54849;
  font-weight: 600;
}
.Status_Report table tr td{ text-align: center;}

.Status_Report td.mat-cell:first-of-type{
  padding-left:0px;
}