<div class="PensionManagement">
  <div class="container mw-100 mh-80">

    <mat-card class="m-3 mt-0 me-0 p-3 pt-1 mb-4">

      <legend class="my-2"> Generate Life Certificate </legend>

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 mt-3">
            <form [formGroup]="LifeCertifict">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-1">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Enter PPO Number" type="number" maxlength="12"
                      formControlName="ppoNumber" #input>

                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-1">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Enter Last Four Digits of Bank Account Number" type="text"
                      maxlength="4" onKeyPress="if(this.value.length==4) return false;" formControlName="accountNumber"
                      (keyup)="applyFilter($event)" #input>

                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
                  <button class="btn btn-primary btn-cls" mat-raised-button color="primary"
                    (click)="checkLifeCertificate()" [disabled]="!LifeCertifict.valid">Search</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12 note_font">
                  <span><b>Note:</b></span>
                </div>
                <div class="col-12 note_font">
                  <span><b>1.Please enter PPO NO only in number format.</b></span>
                </div>
                <div class="col-12 note_font">
                  <span><b>2.Please remove std/zone code before PPO NO.</b></span>
                </div>
                <div class="col-12 note_font">
                  <span><b>(Ex.PPO NO:1213244) </b></span>
                </div>
                <div class="col-12 note_font">
                  <span><b>3.जीवन प्रमाण पत्र सत्यापन करने हेतु कर्मचारी स्वयं का ही आधार नंबर प्रयोग करें (न कि
                      पेंशनभोगी का) </b></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </mat-card>
    <mat-card class="m-3 mt-0 me-0 p-3 pt-1 mb-4" *ngIf="isvisible && !isalready" style="margin-bottom: 100px !important;">
      <legend class="my-2"> Pensioner Details:</legend>


      <div class="row">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
            <div class="avatar-upload">
              <span>Pensioner Photograph</span>
              <div class="avatar-preview">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">

                  <i class="fa fa-edit"></i>
                </div>
                <img [src]="picData" style=" width: auto;  height: 100%;" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Janadhaar Number</span>
            {{ProfileDetls?ProfileDetls.janAdharId :"N/A" }}
          </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Pensioner Name</span>
            <label>{{ProfileDetls?ProfileDetls.employeeName:"N/A"}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Employee ID</span>
            <label>{{ProfileDetls?ProfileDetls.employeeCode:"N/A"}}</label>
          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Gender</span>
            <label>{{ProfileDetls?ProfileDetls.gender:"N/A"}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Date of Birth</span>
            <label>{{ProfileDetls?ProfileDetls.dateOfBirth:"N/A"}}</label>
          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Blood Group</span>
            <label>{{ProfileDetls?ProfileDetls?.bloodGroup:""}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Email Id</span>
            <label>{{ProfileDetls?ProfileDetls.email:""}}</label>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">

          <div>
            <span>Mobile No</span>
            <label>{{ProfileDetls?ProfileDetls?.mobileNumber:""}}</label>
          </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Nationality</span>
            <label>{{ProfileDetls?ProfileDetls.nationality:""}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Current Address </span>
            <label>{{ProfileDetls?ProfileDetls.currentAddress:""}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Date of Retirement</span>
            <label>{{ProfileDetls?ProfileDetls.dateOfRetirement:""}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>PPO Number</span>
            <label>{{ProfileDetls?.ppoNo=='null'?'':ProfileDetls?.ppoNo}}</label>
          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">

        </div>

      </div>




      <div class="row">
        <div class="col-7">
          <mat-form-field class="w-100" appearance="outline" *ngIf="iseSin">
            <mat-label>Enter Remark</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="2" [(ngModel)]="remark"></textarea>
          </mat-form-field>
        </div>
        <div class="col-5 my-5 mb-5">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-cls mx-2" mat-raised-button color="primary" (click)="saveAndGenrate()">
              {{ButtonView}} Life Certificate</button>

            <button class="btn btn-primary btn-cls" mat-raised-button color="primary" (click)="esignRequest()"
              *ngIf="iseSin">Approve & eSign</button>
          </div>
        </div>
      </div>
    </mat-card>




    <mat-card class="m-3 mt-0 me-0 p-3 pt-1 mb-5" *ngIf="isvisible2 && !isalready" style="margin-bottom: 100px !important;">
      <legend class="my-2">Pensioner Details:</legend>


      <div class="row">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
            <div class="avatar-upload">
              <span>Pensioner Photograph</span>
              <div class="avatar-preview">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">

                  <i class="fa fa-edit"></i>
                </div>
                <img [src]="picData" style=" width: auto;  height: 100%;" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Janadhaar Number</span>
            {{painshanDetailss?painshanDetailss?.JanadhaarNumber:"N/A" }}
          </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Pensioner Name</span>
            <label>{{painshanDetailss?painshanDetailss?.EmployeeName:"N/A"}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Employee ID</span>
            <label>{{painshanDetailss?painshanDetailss?.EmployeeID:"N/A"}}</label>
          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Gender</span>
            <label>{{painshanDetailss?painshanDetailss?.Gender:"N/A"}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Date of Birth</span>
            <label>{{painshanDetailss?painshanDetailss?.DateofBirth:"N/A"}}</label>
          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Blood Group</span>
            <label>{{painshanDetailss?painshanDetailss?.BloodGroup:""}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Email Id</span>
            <label>{{painshanDetailss?painshanDetailss?.EmailId:""}}</label>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">

          <div>
            <span>Mobile No</span>
            <label>{{painshanDetailss?painshanDetailss?.MobileNo:""}}</label>
          </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Nationality</span>
            <label>{{painshanDetailss?painshanDetailss?.Nationality:""}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Current Address </span>
            <label>{{painshanDetailss?painshanDetailss?.CurrentAddress:""}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>Date of Retirement</span>
            <label>{{painshanDetailss?painshanDetailss?.DateofRetirement:""}}</label>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
          <div>
            <span>PPO Number</span>
            <label>{{painshanDetailss?.PPONumber=='null'?'':painshanDetailss?.PPONumber}}</label>
          </div>
        </div>




      </div>

      <div class="row">
        <div class="col-7">
          <mat-form-field class="w-100" appearance="outline" *ngIf="iseSin">
            <mat-label>Enter Remark</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="2" [(ngModel)]="remark"></textarea>
          </mat-form-field>
        </div>
        <div class="col-5 my-5">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-cls mx-2" mat-raised-button color="primary" (click)="saveAndGenrate()">
              {{ButtonView}} Life Certificate</button>

            <button class="btn btn-primary btn-cls" mat-raised-button color="primary" (click)="newEsignRequest()"
              *ngIf="iseSin">Approve & eSign</button>

          </div>
        </div>
      </div>

      <!-- <div class="d-flex justify-content-end" >
    <div class="row">
      <div class="col-12 col-sm-12  mt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Enter Remark</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="2" ></textarea>
        </mat-form-field>
      </div>
    </div> 
       <button class="btn btn-primary btn-cls mx-2" mat-raised-button color="primary" (click)="saveAndGenrate()"> {{ButtonView}} Life Certificate</button>  
  

       <button class="btn btn-primary btn-cls" mat-raised-button color="primary" (click)="esignRequest()" *ngIf="iseSin" >Approve & eSign</button>    
   </div>  -->
    </mat-card>
  </div>
</div>
