

.footer-container{
  width: 100%;
  
  background-color: #d32f2f ;
  
  display: flex;
  align-items: center;
}

.copyrights-text{
  text-align: center;
  color: white;
  margin: 0px;  
  font-size: 12px;
}
footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 900;
}


