<app-loader></app-loader>
<article>

  <header>
    <app-header></app-header>
  </header>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- <app-content></app-content> -->
          <!-- <app-sidebar></app-sidebar> -->
        </div>
      </div>
    </div>
  </section>
  <!-- <footer>
    <app-footer></app-footer>

  </footer> -->

</article>



<!-- <app-header ></app-header>

 




<div class="example-sidenav-content" style="margin-top:20px;">
  <router-outlet></router-outlet>
</div> -->



<!-- <article>
  <header>
      <app-newheader></app-newheader>
  </header>
  <section>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <app-content></app-content>
              </div>
          </div>
      </div>
  </section>
  <footer>
      <app-newfooter></app-newfooter>
  </footer>
</article> -->
