 <div class="container-fluid">
<div class="carousel-wrapper">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slide of slides">
      <div class="slide-card">
        <img [src]="slide.img" [alt]="slide.title" class="slide-img">
        <!-- <div class="caption">{{ slide.title }}</div> -->
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<!-- <div class="row mt-4 ">

 <div class="col-12">
<mat-card>
  <mat-card-header>
    EVENTS
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
</mat-card>
  </div>
</div> -->
</div> 
