 <div class="container-fluid">
  <div class="desktop"> 
<div class="carousel-wrapper">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slide of slides">
      <div class="slide-card">
        <img [src]="slide.img" [alt]="slide.title" class="slide-img">
        <!-- <div class="caption">{{ slide.title }}</div> -->
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

 <div class="row mt-4 ">

 <div class="col-12">
<div class="maharaja-card mat-elevation-z2">
  <div class="maharaja-image">
    <img [src]="'./assets/images/maharaja.png'" alt="Shri Maharaja Agrasen">
  </div>

  <div class="maharaja-content">
    <h2 class="title">SHRI MAHARAJA <span>AGRASEN</span></h2>
    <p class="description">
      The icon of non-violence, messenger of Peace, Emperor Agrasen was the eldest son of 
      King Ballabh of Pratapnagar. King Ballabh was a Suryavamshi (lineage from the Sun). 
      According to the Mahalakshmi Vrath, the age then was the last stages of Dvaapar Yug. 
      The birth of Maharaj Agrasen took place about 5185 years ago according to the current calendar. 
      Even when he was very young, Prince Agrasen was well known for his compassion. 
      He never discriminated against anyone and the subjects were very pleased with the way he conducted himself.
    </p>
    <button mat-raised-button color="accent" class="read-more-btn" (click)="onRouting('about-maharaj')">
      READ MORE
    </button>
  </div>
</div>

  </div>
</div> 
<div class="row mt-4 ">
  <mat-card class="event-heading">
    <div class="event-text">
 <span class="">EVENTS</span>
    </div>

  </mat-card>
 

</div>
<div class="row mt-4 ">
  <mat-card>
    <!-- <mat-card-header >
      <span>Agrasen Jayanti(22 Sep. 2025)</span>
    </mat-card-header> -->
    <mat-card-content>
     <div class="carousel-wrapper">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slide of events">
      <div class="slide-card">
         <div class="event-title">{{slide.title}}</div>
        <img [src]="slide.img" [alt]="slide.title" class="slide-img">
       
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
    </mat-card-content>
  </mat-card>
</div>
 </div>
 <div class="mobile"> 
<div class="carousel-wrapper">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slide of slides">
      <div class="slide-card">
        <img [src]="slide.img" [alt]="slide.title" class="slide-img">
        <!-- <div class="caption">{{ slide.title }}</div> -->
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
 <div class="row mt-4 ">

 <div class="col-12">
<div class="maharaja-card mat-elevation-z2">
  <div class="maharaja-image">
    <img [src]="'./assets/images/maharaja.png'" alt="Shri Maharaja Agrasen">
  </div>

  <div class="maharaja-content">
    <h2 class="title">SHRI MAHARAJA <span>AGRASEN</span></h2>
    <p class="description">
      The icon of non-violence, messenger of Peace, Emperor Agrasen was the eldest son of 
      King Ballabh of Pratapnagar. King Ballabh was a Suryavamshi (lineage from the Sun). 
      According to the Mahalakshmi Vrath, the age then was the last stages of Dvaapar Yug. 
      The birth of Maharaj Agrasen took place about 5185 years ago according to the current calendar. 
      Even when he was very young, Prince Agrasen was well known for his compassion. 
      He never discriminated against anyone and the subjects were very pleased with the way he conducted himself.
    </p>
    <button mat-raised-button color="accent" class="read-more-btn" (click)="onRouting('about-maharaj')">
      READ MORE
    </button>
  </div>
</div>

  </div>
</div> 
<div class="row mt-4 ">
  <mat-card class="event-heading">
    <div class="event-text">
 <span class="">EVENTS</span>
    </div>

  </mat-card>
 

</div>
<div class="row mt-4 ">
  <mat-card>
    <!-- <mat-card-header >
      <span>Agrasen Jayanti(22 Sep. 2025)</span>
    </mat-card-header> -->
    <mat-card-content>
     <div class="carousel-wrapper">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slide of events">
      <div class="slide-card">
         <div class="event-title">{{slide.title}}</div>
        <img [src]="slide.img" [alt]="slide.title" class="slide-img">
       
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
    </mat-card-content>
  </mat-card>
</div>
 </div>
</div> 
  <footer class="desktop">
    <app-footer></app-footer>

  </footer>