.success {
  color: #23966B;
  font-size: 24px;
  font-weight: 600;
}

.success_subtext {
  font-size: 20px;
}

.reject {
  color: #E54849;
  font-size: 24px;
  font-weight: 600;
}
.success {
  color: #23966B;
  font-size: 24px;
  font-weight: 600;
}

.success_subtext {
  font-size: 20px;
}

.reject {
  color: #E54849;
  font-size: 24px;
  font-weight: 600;
}


// varify otp css

.mobile-text{
color: #7E7E7E;
}

.mendetory-class{
color: #E2574C;
}
.font-class{
  color: #ffffff;
  }
  

::ng-deep .input-otp-group{
.mat-form-field.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix {
    padding: 0em 0em 0.4em 0px !important;

    .mat-input-element{
        font-size: 24px;
        text-align: center;
    }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #D0D9E5;
}

.otp-width{
    width: 40px;
}

.proceed-otp{
    box-shadow: 0px 5px 10px #A4C0ED;
}

}

@keyframes blink {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}

.blink {
color: #E54849;
animation: blink 1s infinite;
}


//withdraw css

.quick-info-container{
background-color: #F8FBFD;
border: 1px solid #E8F3FC;
border-radius: 5px;
}

.eligible-days-container{
background-color: #F8B94E0F;
border: 1px solid #F8B94E6F;
}

.earned-advance-salary-container{
background-color: #52BB9C1A;
border: 1px solid #52BB9C80;
}

.amount-repaid-container{
background-color: #F8FBFD;
border: 1px solid #2A6DD9;
height: 100%;
}

.need-help-section{
background-color: #EDF3FC;
}
/* ----------------------------------------------
---Dialog Popup---
---------------------------------------------- */
::ng-deep .small-dialog{
width: 40%;
}
::ng-deep .medium-dialog{
width: 55%;
}
::ng-deep .large-dialog{
width: 70%;
}
@media screen and (max-width:991px) {
::ng-deep .small-dialog, ::ng-deep .medium-dialog, ::ng-deep .large-dialog{
    width: auto;
}
}

@media screen and (min-width:991px) and (max-width:1400px) {
::ng-deep .small-dialog, ::ng-deep .medium-dialog, ::ng-deep .large-dialog{
    width: 60%;
}
}
.modal-icon-image-box img
{
width: 250px;
}
.modal-icon
{
width: 30px;
}
.failed_img
{
width: 130px;
}

.coming-soon-image img {
width: 115px;
}
