
<div class="container-fluid">
    <mat-card class="card-shadow0 shadow-none p-0">
        <h2 class="p-0">Basic Details Info</h2>

        <div class="row">
            <form [formGroup]="basicDetailsForm" autocomplete="off">
                <div class="row mt-0 p-0">
                    <!-- <h2>Employee Code</h2> -->
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                            <!-- <mat-label>Contact Person<span class="red-star">*</span></mat-label> -->
                            <mat-label>Aadhar No.</mat-label>
                            <mat-form-field class="w-100" appearance="legacy">
                              <input matInput formControlName="aadharNumber" (keypress)="numberOnly($event)" minlength=12 maxlength=12 placeholder="Enter aadhar number">
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('required')">
                                Mobile number is required
                              </mat-error> -->
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('pattern')">
                                Enter a valid mobile number
                              </mat-error> -->
                            </mat-form-field>
                          </div>

                        

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                            <!-- <mat-label>Contact Person<span class="red-star">*</span></mat-label> -->
                            <mat-label>Contact Person</mat-label>
                            <mat-form-field class="w-100" appearance="legacy">
                              <input matInput formControlName="mobileNumber" (keypress)="numberOnly($event)" minlength=10 maxlength=10 placeholder="Enter mobile number">
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('required')">
                                Mobile number is required
                              </mat-error> -->
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('pattern')">
                                Enter a valid mobile number
                              </mat-error> -->
                            </mat-form-field>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                            <!-- <mat-label>Contact Person<span class="red-star">*</span></mat-label> -->
                            <mat-label>PAN NO.</mat-label>
                            <mat-form-field class="w-100" appearance="legacy">
                              <input matInput formControlName="panNo" (keypress)="alphaNumberOnly($event)" oninput="this.value = this.value.toUpperCase()"
                               minlength=10 maxlength=10 placeholder="Enter pan number">
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('required')">
                                Mobile number is required
                              </mat-error> -->
                              <!-- <mat-error *ngIf="AddGrievanceForm.get('mobileNumber').hasError('pattern')">
                                Enter a valid mobile number
                              </mat-error> -->
                            </mat-form-field>
                          </div>



                        <!-- <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8 mt-1 text-end">
                            <button mat-raised-button color="primary" >SEARCH</button>
                        </div> -->


                    </div>
                </div>

                <!-- <div class="d-flex justify-content-end m-3 mt-0">
                    <button mat-raised-button color="primary" (click)="submit()">SUBMIT</button>
                </div> -->
            </form>
        </div>
    </mat-card>
</div>