
<div class="row mt-4 ">
  <mat-card class="event-heading">
    <div class="event-text">
 <span class="">सदस्यों की सूची (Members List)</span>
    </div>
  </mat-card>
</div>
<div class="row mt-4 desktop">
  <mat-card class="member-heading">
    <div class="member-heading-text">
      <table>
        <tr class="table-header">
          <th>#</th>
          <th>नाम</th>
          <th>पता</th>
          <th>व्यवसाय</th>
          <th>मोबाइल</th>
        </tr>

        <tr *ngFor="let m of members; let i = index" class="table-row">
          <td>{{ i + 1 }}.</td>
          <td>{{ m.name }}</td>
          <td>{{ m.address }}</td>
          <td>{{ m.occupation }}</td>
          <td>{{ m.mobile }}</td>
        </tr>
      </table>
    </div>
  </mat-card>
</div>
<div class="row mt-4 mobile">
<mat-list>
  <mat-list-item *ngFor="let m of members" class="mt-2">
    <div mat-line ><b>{{ m.name }}</b></div>
    <div mat-line><b>पता:</b> {{ m.address }}</div>
    <div mat-line><b>व्यवसाय:</b>{{ m.occupation }}</div>
    <div mat-line><b>मोबाइल:</b> {{ m.mobile }}</div>
  </mat-list-item>
</mat-list>

</div>


