.emp-transfer-card-container{
    border: 1px solid #BFCCE2;
    cursor: pointer;
}

.emp-transfer-card-container:hover{
    background-color: #f6f9ff;
    
}

.card-number-text{
    font-size: 2rem;
    font-weight: 700;
}

.emp-transfer-image-container img{
    width: 50px;
}





.employee-table-container {
    // height: 380px;
    overflow: auto;

    .table-col-padding {
        padding: 8px 20px;
        white-space: nowrap;
    }

    .mat-header-cell {
        border-bottom: 1px solid #5a9cff;
        font-size: 14px;
        font-weight: 600 !important;
        color: #414141;
        font-family: "Poppins-m";
        background-color: #eef5ff;
    }
   .transction-data-table th.mat-sort-header-sorted {
        color: black;
      }
}
.active,.active:hover
{
    background-color: var(--primary);   
    p {
        color: #fff;
    };

}