.overview-title {
    background: #eaf1fa;
    border-radius: 5px;
    padding: 8px 12px;

    .text {
        color: #2A6DD9;
    }
}

.transaction-container {
    .advance-amount-card {
        background-color: #EDF8F5;
        border-radius: 10px;
        border: 1px solid #52BB9C61;
        height: 100%;
    }

    .paid-amount-card {
        background-color: #F7EBEF;
        border-radius: 10px;
        border: 1px solid #AA385C45;
        height: 100%;
    }

    .arrear-pending-card {
        background-color: #F8B94E0F;
        border-radius: 10px;
        border: 1px solid #F8B94E6F;
        height: 100%;
    }
}

::ng-deep .track-transaction-container .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {
    color: #9ba8be;
}

::ng-deep .track-transaction-container .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.track-table-container {
    overflow: auto;
}

::ng-deep .track-table-container .mat-elevation-z8 {
    box-shadow: none !important;
}


::ng-deep .selectpanelClass {
    margin-top: 30px;
}

.mat-form-field {
    font-size: 14px;
}

::ng-deep .track-table-container {
    ::ng-deep .table-col-padding {
        padding: 10px 20px;
        white-space: nowrap;
    }

    ::ng-deep .mat-header-cell {
        border-bottom: 1px solid #5a9cff;
        font-size: 14px;
        font-weight: 600 !important;
        color: #414141;
        font-family: "Poppins-m";
        background-color: #eef5ff;
    }
}