 <div class="row mt-4 desktop">

 <div class="col-12">
<div class="maharaja-card mat-elevation-z2">
  <div class="maharaja-image">
    <img [src]="'./assets/images/maharaja.png'" alt="Shri Maharaja Agrasen">
  </div>

  <div class="maharaja-content">
    <h2 class="title">SHRI MAHARAJA <span>AGRASEN</span></h2>
    <p class="description">
     The icon of non-violence, messenger of Peace, Emperor Agrasen was the eldest son of King Ballabh of Pratapnagar. King Ballabh was a Suryavamshi ( lineage from the Sun). According to the Mahalakshmi Vrath, the age then was the last stages of Dvaapar Yug. The birth of Maharaj Agrasen took place about 5185 years ago according to the current calendar. Even when he was very young, Prince Agrasen was well known for his compassion. He never discriminated against anyone and the subjects were very pleased with the way he conducted himself.
    </p>
     <p class="description">
        When Agrasen became a young man, he attended the Swyamvara of the daughter of the King Nagaraj, Princess Madhavi. Many kings from around the world attended including Indra, the King of the Devas.
    </p>
  </div>
</div>
<div class="maharaja-card mat-elevation-z2">


  <div class="maharaja-content">
   
    <p class="description">
    In the Swayamvara, Princess Madhavi selected Prince Agrasen, by putting the garland on him. This marriage merged two different family cultures, because Prince Agrasen was a Suryavanshi and Princess Madhavi was a Naagavanshi. Indra, the King of the Devas had been smitten by the beauty of Princess Madhavi and had planned to marry her. However, he became very jealous and angry at grasen for ruining his plans.To get revenge against Agrasen, Indra also known as the Lord of Rain made sure that Pratap Nagar did not receive any rainfall and famine struck the Pratap Nagar kingdom. Emperor Agrasen then waged war against Indra, and because he had dharma on his side, his army vanquished Indra's forces and put them to flight. Faced with this situation, Indra approached Narada (the celestial sage) for mediation between him and Emperor Agrasen. Narada was able to negotiate peace between them.
    </p>
    <p class="description">
       Agrasen was became concerned with maintaining a long lasting peace to end the enmity. So Agrasen went to the city of Kashi and started penance to propitiate Lord Shiva. Pleased with the severe penance of Agrasen, Lord Shiva appeared in front of him and advised him to propitiate Shri Mahalakshmi. Maharaj Agrasen began meditating on Shri. Mahalakshmi. Goddess Mahalakshmi was pleased with the dedication of Maharaj Agrasen and appeared before him. Goddess Mahalakshmi blessed Agrasen and suggested that he take up the Vaishya tradition of business for the sake of the prosperity of his people and give up his Kshatriya tradition. Additionally, she requested that he establish a new kingdom in return for her eternal presence with with his descendants.
    </p>
    <p class="description">With the blessings of Sri Mahalakhmi, King Agrasen toured all of Bharat (India) . During his travels, he found a few tiger cubs and wolf cubs playing together. To King Agrasen and Queen Madhavi, this was an auspicious indication that the area was Veerabhoomi (land of the brave), and they decided to found their new kingdom at that location. The new kingdom was named Agroha. In due course, Agroha became prosperous and the influence of King Agrasen was felt in all neighboring areas as well. Trade, agriculture and industry flourished and the fame of King Agrasen spread far and wide.</p>
<p class="description">Maharaj Agrasen, performed many yagnas (sacrifices) for the prosperity of his people. In those days, performing a yagna was a symbol of prosperity. During one such yagna, Maharaj Agrasen noticed that a horse that had been brought to be sacrificed was trying hard to get away from the sacrificial altar. Maharaj Agrasen was filled with pity and thought about what prosperity can be achieved by sacrificing mute animals. The idea of Ahimsa came into Maharaj Agrasen's mind, and the King discussed it with his ministers. The ministers advised Maharaj Agrasen that Ahimsa could be considered by neighboring kingdoms as a sign of weakness and encourage them to attack Agroha. Maharaj Agrasen felt that putting an end to violence and injustice does not show weakness. Thus, he proclaimed that there would be no violence and killing of animals in his kingdom.</p>
<p class="description">Maharaj Agrasen proceeded to conduct 18 Maha Yagnas. He divided his kingdom among his 18 children and established the 18 gotras after the guru's of each of his children. These same 18 gotras are like the eighteen chapters of the Bhagavadgita; although they differ, they are still related to each other to form the whole. Under this arrangement, Agroha prospered very well and flourished. In the latter part of his life, Maharaj Agrasen nominated his eldest son Vibhu to the throne and took up the Vanaprasth Ashram.</p>
<p class="description">The neighboring kings were envious of Agroha because of its prosperity, thus they frequently attacked it. Because of these aggressions, Agroha faced numerous plights. In due course, the strength of Agroha was sapped. A huge fire engulfed the city causing the citizens to flee and disperse into various areas of Bharat. Today, these people are known as Aggarwals. They still have the same 18 gotras that were given to them by their gurus, and they carry on the fame of Maharaj Agrasen. As per Maharaj Agrasen's guidance, the Aggarwals are in the forefront of social service.</p>

</div>
</div>
  </div>
</div> 

 <div class="mobile"> 

<div class="row mt-4 ">

 <div class="col-12">
<div class="agr-card">
  <!-- Top Image -->
  <div class="agr-card-img">
    <img src="assets/images/maharaja.png" alt="Shri Maharaja Agrasen">
  </div>

  <!-- Content -->
  <div class="agr-card-body">
    <h2 class="agr-card-title">
      SHRI MAHARAJA <span>AGRASEN</span>
    </h2>
   
   <p class="agr-card-text">
     The icon of non-violence, messenger of Peace, Emperor Agrasen was the eldest son of King Ballabh of Pratapnagar. King Ballabh was a Suryavamshi ( lineage from the Sun). According to the Mahalakshmi Vrath, the age then was the last stages of Dvaapar Yug. The birth of Maharaj Agrasen took place about 5185 years ago according to the current calendar. Even when he was very young, Prince Agrasen was well known for his compassion. He never discriminated against anyone and the subjects were very pleased with the way he conducted himself.
    </p>
     <p class="agr-card-text">
        When Agrasen became a young man, he attended the Swyamvara of the daughter of the King Nagaraj, Princess Madhavi. Many kings from around the world attended including Indra, the King of the Devas.
    </p>
    
    <p class="agr-card-text">
    In the Swayamvara, Princess Madhavi selected Prince Agrasen, by putting the garland on him. This marriage merged two different family cultures, because Prince Agrasen was a Suryavanshi and Princess Madhavi was a Naagavanshi. Indra, the King of the Devas had been smitten by the beauty of Princess Madhavi and had planned to marry her. However, he became very jealous and angry at grasen for ruining his plans.To get revenge against Agrasen, Indra also known as the Lord of Rain made sure that Pratap Nagar did not receive any rainfall and famine struck the Pratap Nagar kingdom. Emperor Agrasen then waged war against Indra, and because he had dharma on his side, his army vanquished Indra's forces and put them to flight. Faced with this situation, Indra approached Narada (the celestial sage) for mediation between him and Emperor Agrasen. Narada was able to negotiate peace between them.
    </p>
    <p class="agr-card-text">
       Agrasen was became concerned with maintaining a long lasting peace to end the enmity. So Agrasen went to the city of Kashi and started penance to propitiate Lord Shiva. Pleased with the severe penance of Agrasen, Lord Shiva appeared in front of him and advised him to propitiate Shri Mahalakshmi. Maharaj Agrasen began meditating on Shri. Mahalakshmi. Goddess Mahalakshmi was pleased with the dedication of Maharaj Agrasen and appeared before him. Goddess Mahalakshmi blessed Agrasen and suggested that he take up the Vaishya tradition of business for the sake of the prosperity of his people and give up his Kshatriya tradition. Additionally, she requested that he establish a new kingdom in return for her eternal presence with with his descendants.
    </p>
    <p class="agr-card-text">With the blessings of Sri Mahalakhmi, King Agrasen toured all of Bharat (India) . During his travels, he found a few tiger cubs and wolf cubs playing together. To King Agrasen and Queen Madhavi, this was an auspicious indication that the area was Veerabhoomi (land of the brave), and they decided to found their new kingdom at that location. The new kingdom was named Agroha. In due course, Agroha became prosperous and the influence of King Agrasen was felt in all neighboring areas as well. Trade, agriculture and industry flourished and the fame of King Agrasen spread far and wide.</p>
<p class="agr-card-text">Maharaj Agrasen, performed many yagnas (sacrifices) for the prosperity of his people. In those days, performing a yagna was a symbol of prosperity. During one such yagna, Maharaj Agrasen noticed that a horse that had been brought to be sacrificed was trying hard to get away from the sacrificial altar. Maharaj Agrasen was filled with pity and thought about what prosperity can be achieved by sacrificing mute animals. The idea of Ahimsa came into Maharaj Agrasen's mind, and the King discussed it with his ministers. The ministers advised Maharaj Agrasen that Ahimsa could be considered by neighboring kingdoms as a sign of weakness and encourage them to attack Agroha. Maharaj Agrasen felt that putting an end to violence and injustice does not show weakness. Thus, he proclaimed that there would be no violence and killing of animals in his kingdom.</p>
<p class="agr-card-text">Maharaj Agrasen proceeded to conduct 18 Maha Yagnas. He divided his kingdom among his 18 children and established the 18 gotras after the guru's of each of his children. These same 18 gotras are like the eighteen chapters of the Bhagavadgita; although they differ, they are still related to each other to form the whole. Under this arrangement, Agroha prospered very well and flourished. In the latter part of his life, Maharaj Agrasen nominated his eldest son Vibhu to the throne and took up the Vanaprasth Ashram.</p>
<p class="agr-card-text">The neighboring kings were envious of Agroha because of its prosperity, thus they frequently attacked it. Because of these aggressions, Agroha faced numerous plights. In due course, the strength of Agroha was sapped. A huge fire engulfed the city causing the citizens to flee and disperse into various areas of Bharat. Today, these people are known as Aggarwals. They still have the same 18 gotras that were given to them by their gurus, and they carry on the fame of Maharaj Agrasen. As per Maharaj Agrasen's guidance, the Aggarwals are in the forefront of social service.</p>

    
  </div>
</div>


<!-- </div> -->
  </div>
</div> 
 </div>